/**
 * Import all styles from the application
 */
@import 'styles.scss';

/**
 * Documentation styles
 * These styles should not be included in styles.css for the main application
 */
.doc__header {
  padding: 20px 0px 0px;
  &.-styleguide {
    border-bottom: 1px solid $grey;
  }
}
pre.prettyprint.prettyprinted {
  visibility: visible;
  padding: 0px;
  border: none;
}
.prettyprint {
  visibility: hidden;
  white-space: pre;
  ol.feed {
    overflow: auto;
    font-size: 100%;
    counter-reset: li;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    background: $brand_alt;
    &> li {
      display: block;
      // float: left;
      // clear: both;
      white-space: pre;
      position: relative;
      margin: 0px;
      padding: 4px 10px 4px 10px;
      list-style: none;
      font-size: $text_size;
      line-height: 1.2em;
      background: none;
      &:hover {
        &:before {
          color: $info;
        }
      }
      &:before {
        position: absolute;
        right: 100%;
        top: 0px;
        padding: 4px 10px 0px 0px;
        text-align: right;
        font-size: .60em;
        font-family: $display;
        font-weight: $regularFont;
        color: $text_colour_light;
        content: counter(li);
        counter-increment: li;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently not supported by any browser */
      }
    }
  }
  .com {
    color: lighten($black, 45);
  }
  .dec {
    color: $grey;
  }
  .pln, .lit {
    color: $white;
  }
  .pun {
    color: $white;
  }
  .str {
    color: $info;
  }
  .atn {
    color: $warning;
  }
  .atv {
    color: $info;
  }
  .tag, .kwd {
    color: $brand;
  }
}
.code-sample {
  @extend %group;
  border-top: 1px solid $grey;
  padding: 10px 0px;
  &> .arrow, &> .icon, &> .dropdown {
    float: left;
    margin: 0 10px 0 0;
  }
  &> %box {
    margin: 0px 1.5%;
    float: left;
    width: 30%;
  }
  &> .list-group, &> .btn-stack {
    @extend %borderBox;
    float: left;
    width: 49.5%;
    &:first-child {
      margin-right: 1%;
    }
  }
  [class^="row"].-doc-show {
    background: lighten($info, 20);
    [class*="span"] {
      background: $info;
    }
  }
}
.label {
  &.-docs {
    display: inline-block;
    margin: 0px;
    padding: 5px;
    border: 1px solid $grey;
    border-bottom: none;
    color: $text_colour_light;
    text-transform: none;
  }
}
.box {
  &.-docs {
    margin-bottom: 40px;
  }
}
.box__body {
  &.-cont {
    padding: 20px 20px 0px;
  }
}

.btn-group {
  margin: 0 0 20px;
  %btn{
    @include borderRadius(0);
    padding: 10px;
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-left: -1px;
    border-right-width: 0px;
    font-size: 1.4em;
    text-transform: none;
    &:first-child {
      @include borderRadius(5px 0px 0px 5px);
    }
    &:last-child, &.l {
      @include borderRadius(0px 5px 5px 0px);
      border-right-width: 1px;
    }
  }
}

.btn-stack {
  %btn {
    @include borderRadius(0);
    display: block;
    position: relative;
    margin-bottom: 0;
    margin-left: -1px;
    text-align: left;
    border-bottom-width: 0px;
    // border-top-width: 0px;
    &:first-child {
      @include borderRadius(5px 5px 0px 0px);
      // border-top-width: 1px;
    }
    &:last-child, &.l {
      @include borderRadius(0px 0px 5px 5px);
      border-bottom-width: 1px;
    }
  }
}

.docolour {
  @extend %group;
  margin: 0 0 20px;
}
.docolour__heading {
  clear: both;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.docolour__box {
  height: 40px;
  width: 40px;
  float: left;
}
.footnote {
  display: block;
  padding: 0px;
  margin: 0px;
  background: none;
  text-align: right;
  font-size: $h6;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
