<nav class="container">
  <div ng-if="blocks" class="btn-group">
    <a class="btn -link" ng-repeat="item in blocks" href="#{{item.key}}" ng-class="{'active': isActive(item.key, 'hash')}">{{item.nav || item.title}}</a>
  </div>
</nav>
<article class="container">
  <h2>{{title}}</h2>
  <div ng-bind-html="description"></div>
  <article id="{{block.key}}" class="box -docs" ng-repeat="block in blocks">
    <header class="box__header">
      <h3 class="box__heading">{{block.title}}</h3>
    </header>
    <div class="box__body" ng-bind-html="block.description"></div>
    <div ng-if="block.display" class="box__body -cont" >
      <h6 class="label -docs">Sample</h6>
      <div class="code-sample" ng-bind-html="reTrustHtml(codeSamples[block.key].codeDisplay)"></div>
    </div>
    <pre ng-if="codeSamples[block.key].code" class="prettyprint {{codeSamples[block.key].lang}} linenums">{{codeSamples[block.key].code}}</pre>
    <footer class="box__footer">
      <code class="footnote" ng-if="block.file">{{block.file}}</code></h6>
    </footer>
  </article>
</article>
