/*
 * 02_items/btns
 * Btns module
 */

%btn{
  @include inlineBlock(20);
  @include marpad(0px, 25px 58px 25px);
  color: $text_colour;
  border: 1px solid $default;
  font-family: $sans_serif;
  font-size: $meta_size;
  font-weight: $boldFont;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover, &.active {
    background: $default;
    color: $text_colour;
    text-decoration: none;
  }
  &:focus {
    border: 1px solid $default;
  }
  &:active {

  }
}

.btn, input[type="submit"].btn, button.btn {
  @extend %btn;
  @include transition(all $global_transition_time ease);
  &.-link {
    color: $text_colour;
    border-color: $grey;
    &:hover, &.active {
      background: $link_colour;
      color: $white;
    }
    &:focus {
      border-color: $grey;
    }
  }
  &.-main {
    background: linear-gradient(to right, $white 0%,$white 50%, $brand 50%, $brand 100%);
    background-size: calc(200% + 2px) 100%;
    background-position: calc(100% + 1px) 0px;
    @include transition(background-position $global_transition_time ease);
    color: $white;
    border-color: $brand;
    flex-direction: column;
    &:hover, &.active {
      background-position: 0, 0;
      color: $brand;
      .arrow {
        &.-down {
          border-top-color: $brand;
        }
        &.-up {
          border-top-bottom: $brand;
        }
      }
    }
    &:focus {
      border-color: $brand;
    }
    .arrow {
      &.-down {
        border-top-color: $white;
      }
      &.-up {
        border-top-bottom: $white;
      }
    }
  }
  &.-centered{
    @include center(horizontal);
  }
  &.-w-icon {

  }
}

.social{
  @include square(74px);
  &.twitter:before{
    @include square(10px);
  }
  .-intro & {
    display: inline-block;
    @include square(100%, auto);
    a{
      width: calc(50% - 20px);
      float: left;
      margin-bottom: 60px;
      position: relative;
      box-sizing: border-box;
      &:last-child{
        float: right;
      }
      &:before{
        @include center(vertical);
        @include position(absolute, null, 15%);
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $max_width){
  .-intro .social a{
    padding-left: 0;
    padding-right: 0;
/*     width: calc( 100% - 116px ); */
    &:before{
      left: calc(-90px + 20vw);
    }
  }
}

@media (max-width: $small_width){
  .-intro .social a{
    text-indent: -9999px;
    &:before{
      text-indent: 0;
      @include center('both');
      position: absolute;
    }
  }
}
