/*
 * 02_items/callouts
 * Callouts module
 */

@mixin calloutSetup ($color, $lper: 30, $dper: 30) {
  background: lighten($color, $lper);
  border: 1px solid lighten($color, 10);
  color: darken($color, $dper);
}

%callout {
  @include marpad(0 0 20px, 15px);
  // @include borderRadius(5px);
  @include calloutSetup($default);
  font-family: $sans-serif;
  font-size: $meta_size;
  ul {
    font-size: 100%;
    margin: 0px;
  }
  li {
    margin: 0px;
  }
}

.callout, .messages {
  @extend %callout;
  &.-main {
    @include calloutSetup($brand);
  }
  &.-info, &.status {
    @include calloutSetup($info);
  }
  &.-success {
    @include calloutSetup($success);
  }
  &.-warning, &.warning {
    @include calloutSetup($warning);
  }
  &.-error, &.error {
    @include calloutSetup($error);
  }
}
