/*
 * 02_items/gen
 * Gen module
 */

.intro {
  padding-bottom: 40px;
  color: $brand_alt;
  font-size: $h3;
  line-height: $mid_line_height;
  font-style: italic;
   font-weight: 700;
}
.introduction{
	display: inline-block;
	i{
		font-weight: 700;
	}
} 
.small {
  @extend small;
}
.large {
  @extend large;
}