/*
 * 02_items/headings
 * Headings module
 */

h1.-hero {
  font-size: $h0;
  line-height: 1.083em;
  margin-bottom: 22px;
}
h1.-alt {
  position: relative;
  padding-bottom: 27px;
  font-size: $h00;
  line-height: 1.15789em;
  &:after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 6px;
    width: 69px;
    background: $brand_alt;
    content: " ";
  }
}
h2.-section {
  padding-bottom: 19px;
  padding-left: 1px;
  margin-bottom: 39px; // ?
  border-bottom: 2px solid $brand_alt;
  &.-short {
    margin-bottom: 22px; // ?
  }
}
.intro.-section{
  border-bottom: 2px solid $brand_alt;
  margin-bottom: 39px;
}
.label, .meta, .number {
  font-size: $meta_size;
  text-transform: uppercase;
  font-family: $sans-serif;
  font-weight: $boldFont;
  margin: 0px;
  line-height: $compact_line_height;
  letter-spacing: 1px;
}
.label {
  color: $text_colour;
  padding-bottom: 0.5em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  &.-regular {
    font-weight: $regularFont;
  }
}
.meta {
  color: $text_colour_light;
}
.number {
  color: $brand;
}

