/*
 * 02_items/icons
 * Icons module
 */

.icon{
  display: block;
  text-indent: -9999px;
  @include transition(all $duration);
  &.-twitter {
    @include sprite($twitter);
  }
  &.-facebook {
    @include sprite($facebook);
  }
  &.-linkedin {
    @include sprite($linkedin);
  }
  &.-instagram {
    @include sprite($instagram);
  }
  &.-rss {
    @include sprite($rss);
  }
  &:hover{
    @include transform(scale(1.5));
  }
  .site__footer & {
    @include filter(brightness(5) grayscale(1));
  }
}

.social{
  &:before{
    content: ' ';
    display: block;
    @include position(relative, 50%, 50%);
    @include transform(translate(-50%, -50%) scale(1.5));
    @include filter(brightness(5));
  }
  &.-twitter:before {
    @include sprite($twitter);
    content:' ';
  }
  &.-facebook:before {
    @include sprite($facebook);
    content:' ';
  }
  &.-linkedin:before {
    @include sprite($linkedin);
    content:' ';
  }
  &.-instagram:before {
    @include sprite($instagram);
    content:' ';
  }
  &.-rss:before {
    @include sprite($rss);
    content:' ';
  }
}

$arrowBorder: 7px;

.arrow {
  display: block;
  width: 0;
  height: 0;
  &.-up {
    border-left: $arrowBorder solid transparent;
    border-right: $arrowBorder solid transparent;
    border-bottom: $arrowBorder solid $text_colour;
  }
  &.-right {
    border-top: $arrowBorder solid transparent;
    border-bottom: $arrowBorder solid transparent;
    border-left: $arrowBorder solid $text_colour;
  }
  &.-down {
    border-top: $arrowBorder solid $text_colour;
    border-right: $arrowBorder solid transparent;
    border-left: $arrowBorder solid transparent;
  }
  &.-left {
    border-top: $arrowBorder solid transparent;
    border-right: $arrowBorder solid $text_colour;
    border-bottom: $arrowBorder solid transparent;
  }
}
