.image{
	background-size: cover;
	background-position: center;
	&.-headshot{
		.bio &{
			height: 400px;
			max-width: 362px;
		}
	}
	&.-preview{
		@include square(100%, 185px);
		margin-bottom: 20px;
	}
	&.-intro{
		@include square(100%, 420px);
		margin-bottom: 20px;
	}
	&.-date, &.-location, &.-time{
		@include center(vertical);
		@include square(20px, 22px);
		@include background('../img/date.png', no-repeat, contain, center);
		display: inline-block;
		margin-right: 10px;
	}
	&.-location{
		background-image: url('../img/location.png');
		margin-left: 40px;
	}
	&.-time{
		background-image: url('../img/time.png');
		margin-left: 40px;
	}
	&.-headshot.-session{
		background-repeat: no-repeat;
		background-size: cover;
		@include square(calc(33% + 2px), 100%);
		position: absolute;
	}
}

figure.image, .media .media-element{
	&[style*=left]{
		margin: 0 1.5em 0 0; 
	}
	&[style*=right]{
		margin: 0 0 0 1.5em;
	}
}