/*
 * 03_collections/ads
 * Ads module
 */
.ad-container {
  height: 182px;
  width: 100%;
  position: relative;
  margin-bottom: 42px;
}
.ad-container-footer {
  width: 514px;
  height: 94px;
  display: inline-block;
  &.l {
    float: right;
  }
}
.ad {
  display: block;
  height: 100%;
  width: 100%;
  p.ad-text--side {
    width: 160px;
    margin: auto;
    font-size: 1.4em;
    color: $white;
  }
  p.ad-text--footer {
    color: $white;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }
  .ad-img-sidebar {
    @include square(90%, 100%);
    /*border-bottom: 1px solid #fff;*/
    margin: auto;
    overflow: hidden;
    img {
      @include center(both);
    }
  }
  .ad-img-footer {
    @include center(vertical);
    @include square(140px, 48px);
    float: left;
    border-right: 2px solid $white;
    padding-right: 14px;
    margin: 0 14px 0 27px;
    img{
      @include center(vertical);
    }
  }
  &.-footer {
    // float: left;
    // width: 50 - (7.03/2) * 1%;
    &.f {
      // margin-right: 7.02%;
    }
  }
  &:hover {
    text-decoration: none;
  }
}


@media (max-width: $max_width){
  .ad-container-footer {
    @include center(horizontal);
    margin-right: 100px;
    &.l{
      float: none;
    }
  }
}

@media (max-width: $small_width){
  .ad-container-footer{
     max-width: 100%;
     height: auto;
     .ad-img-footer{
        float: none;
        @include center(horizontal);
        top:auto;
        margin: 0;
        border-bottom: 2px solid #fff;
        border-right: none;
        padding-right: 0px;
        padding-bottom: 14px;
     }
  }
  .ad p.ad-text--footer{
    top: auto;
    text-align: center;
    transform: none;
    width: 100%;
    padding: 18px 0;
  }
}
