.bio{
	display: inline-block;
	&.grid.-two-columns{
		padding-bottom: 54px;
	}
	.member{
		/*max-height: 155px;*/
	}
	h2{
		font-size: 3.3em;
		margin-top: -0.3em;
		margin-bottom: 0px;
	}
	> div {
		margin-left: 22px;
		margin-right: 22px;
	}
	.info{
		display: flex;
		flex-direction: column;
		position: relative;
		/*height: 300px;*/
		&.item{
			min-height: 400px;
			min-width: calc(100% - 88px - 362px);
			.contacts{
				@include justify(space-between, column);
			}
		}
		&:not(.item){
			.contacts{
				display: flex;
				width: 100%;
				margin-top: 2em;
			}
			.data{
				width: 33%;
				float: left;
				position: static;
			}
		}
		> div {
			flex: 1;
		}
		p{
			line-height: 1em;
			padding-bottom: 20px;
		}
	}
	.connect{
		/*@include position(absolute, null, null, 0);*/
		width: 270px;
	}
	.card{
		max-height: 190px;
		overflow: hidden;
	}
}

@media (max-width: $max-width) { // 1180px
	.bio.grid.-two-columns > .item{
		width: calc(100% - 40px);
		&.-headshot{
			margin-bottom: 20px;
			max-width: 100%;
		}
	}
	.bio .connect{
		width: 100%;
	}
	.grid.-social > .item:last-child {
		margin-right: 12px;
	}
}