/*
 * 03_collections/boxes
 * Boxes module
 */

%box {
  @include marpad(0px, 0px);
  &> a {
    text-decoration: none;
  }
}
.box__header {
  img {
    display: block;
    margin: 0 auto 20px;
  }
}
.box__heading {
  span {
    @extend %underlineAnimation;
  }
}
.box__body {
  // overflow: auto; // prevent margin collapse
  &.-cont {
    // padding: 0px 19px;
  }
  &.-end {
    // border-bottom: 1px solid $default;
  }
}
.box__text {
  line-height: $compact_line_height;
  padding-bottom: 21px;
}
.box__footer {
  padding-top: 12px;
  border-top: 2px solid $default;
  a:hover {
    text-decoration: none;
  }
  .meta {
    float: right;
  }
}

//box types
.box {
  @extend %box;
  &.-main {
    margin-bottom: 2em;
    .box__footer {
      border-color: $brand;
    }
    .meta {
      color: $brand;
    }
  }
  &> .box__inner {
    padding: 39px 0px 31px 47px ;
    .site__sidebar &{
      padding: 39px 0px 31px 0;
    }
    .meta {
      float: none;
    }
    .box__text {
      padding-bottom: 39px;
      aside.span3 &{
        padding-bottom: 0;
      }
    }
    .box__header, .box__body, .box__footer {
      padding-right: 37px;
    }
  }
  &.-feature {
    .box__footer {
      padding-bottom: 89px;
      .meta {
        float: left;
      }
    }
  }
}

a.box {
  &.-main {
    &:hover {
      .box__inner {
        background-position: 0,0;
        .box__heading, p, .meta {
          color: $white;
        }
        .box__footer {
          border-color: $white;
        }
      }
    }
  }
  &:hover {
    text-decoration: none;
  }
  .box__inner {
    background: linear-gradient(to right, $brand 0%,$brand 50%, transparent 50%, transparent 100%);
    background-size: 201% 100%;
    background-position: calc(100% + 1px) 0px;
    @include transition(background-position $global_transition_time ease);
    .box__heading, p, .meta {
      @include transition(color $global_transition_time ease);
    }
    .box__footer {
      @include transition(border-color $global_transition_time ease);
    }
  }
  .box__text {
    // color: $text_colour;
  }
}

.box-wrap {
  @extend %group;
  position: relative;
  border: 2px solid $brand;
  margin-bottom: 64px;
  &.-homepage{
    height: 377px;
    .-main{
      height: 100%;
    }
    .box__inner{
      min-height: calc(100% - 70px);
    }
    .rows.-two{
      @include square(calc(33% + 4px), 50%);
      float: right;
      .l{
        border-top: 2px solid $brand;
      }
    }
    .row-flush{
      height: calc(100% - 2px);
    }
  }
  &.-filter {
    padding: 40px;
    display: flex;
    p {
      width: 50%;
      float: left;
      padding: 0px;
      font-size: $meta_size;
      line-height: $compact_line_height;
      font-family: $sans-serif;
      text-transform: uppercase;
    }
    .dropdown {
      position: absolute;
      width: 40%;
      right: 40px;
      top: 50%;
      margin-top: -32px;
      .btn {
        display: block;
      }
      .list-group {
        width: 100%;
      }
    }
    &.-multi {
      p {
        float: none;
        width: auto;
        margin: 0 0 20px;
      }
      .dropdown {
        display: flex;
        position: static;
        width: 100%;
        margin: 0px calc((4/3)*1%) 10px 0px;
        float: left;
        &.l {
          margin: 0px;
        }
        .btn{
          @include justify(center);
          width: 100%;
          line-height: 1;
        }
      }
    }
  }
  &.-grid {
    border-bottom: none;
    margin-bottom: 0px;
    .row-flush {
      border-bottom: 2px solid $brand;
      display: flex; /** Chrome and FF Grid Box Height Fix **/
      a.box.-main{
        margin-bottom: 0;
        .box__inner{
          box-sizing: border-box;/** Chrome and FF Grid Box Height Fix **/
          /*height: 100%; * Chrome and FF Grid Box Height Fix **/
        }
      }
    }
    .box .box__inner {
      
      margin-left: -2px;
      border-left: 2px solid $brand;
    }
    .box.f .box__inner {
      border-left: none;
      border-right: 2px solid $brand;
    }
  }
}
.box-wrap-after {
  padding: 24px 0px 0px;
  margin-bottom: 64px;
  a {
    display: block;
    text-align: right;
    color: $brand;
    &:hover {
      text-decoration: none;
    }
  }
}

.block-wrap {
  @extend %group;
  border-top: 75px solid $white; // spacing to avoid an extra div.
  background: linear-gradient(90deg, $off_white 50%, $white 50%);
}
.block {
  @include quickSpan (10, $global_gutter, 7);
  background: $off_white;
  .inner {
    padding: 43px 0px 62px;
  }
  p {
    color: $brand_alt;
    font-size: $h3;
    line-height: $mid_line_height;
  }
}
.block__image {
  float: left;
  margin-top: 12px;
}
.block__text {
  overflow: hidden;
  padding: 0 0 0 44px;
}

@media (max-width: $max_width){
  .box-wrap{
    &.-grid {
      border-right: none;
      .row-flush{
        display: initial;
      }
      .box .box__inner{
        border-right: 2px solid $brand;
        border-bottom: 2px solid $brand;
      }
    }
    &.-homepage {
      height: auto;
      .rows.-two{
        width: 100%;
        a.box.-main.span4 > .box__inner{
          width: calc(50% + 1px);
          display: inline-block;
          float: left;
          border-right: 2px solid $brand;
          &.l{
            border-right: none;
            margin: 0 0 0 0px;
          }
        }
        
      }
      .box.-main.span4.image{
        height: 377px;
      }
      .box.-main.span4 > .box__inner{
        border: none;
      }
    }
    &.-grid.-homepage{
      border: 2px solid $brand;
      .image{
        @include position(absolute, 0);
        width: 100%;
      }
      .box.-main.span4 .faller{
        margin-top: 377px;
        border-bottom: 2px solid $brand;
      }
    }
    &.-filter {
      flex-direction: column;
      p{
        float: none;
        width: 100%;
      }
      .dropdown{
        position: static;
        width: 100%;
        margin-top: 10px;
      }
    }
    &.search-form.-filter.-multi .search-advanced .gridian{
      display: block;
      .dropdown.item{
        width: 100%;
        margin: 10px 0 0 0;
      }
    } 
  }
  .box__footer{
    margin-bottom: 45px;
  }
}
@media (max-width: $small_width){
  .box-wrap.-homepage .rows.-two a.box.-main.span4 > .box__inner.clone{
    width: 100%;
    border: none;
    margin-left: 0;
    &.l{
      border-top: 2px solid $brand;
    }
  }
}