/*
 * 03_collections/cards
 * Cards module
 */

%card {
  border-bottom: 10px solid $default;
  .card__inner {
    padding: 29px 32px;
    display: block;
  }
  p {
    color: $brand_alt;
    line-height: 1.33em;
    padding-bottom: 15px;
  }
  .label {
    margin-bottom: 41px;
  }
}

.card {
  @extend %card;
  &.-main {
    border-color: $brand;
    .card__inner {
      @include transition(background $global_transition_time ease);
      h3, p, .label {
        @include transition(color $global_transition_time ease);
      }
      &:hover {
        background: $brand;
        h3, p, .label {
          color: $white;
        }
      }
    }
    .mh-med {
      min-height: 220px;
    }
  }
}

.card {
  a:hover {
    text-decoration: none;
  }
}
