/*
 * 02_items/dropdowns
 * Styles for specialized anchors list (dropdowns)
 */
%dropdown {
  %btn {
    position: relative;
    padding-left: 25px;
    padding-right: 77px;
    margin: 0px;
    font-size: 100%;
    text-align: left;
  }
  .list-group {
    @include borderRadius(0px);
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 150%;
    z-index: 100;
  }
  li {
    @include transition(all .2s ease);
    text-align: left;
    &:hover {
      background: $grey;
    }
  }
  .list-group.-main {
    li {
      &:hover {
        background: $brand;
        color: $white;
      }
    }
  }
  .arrow {
    position: absolute;
    right: 33px;
    top: 50%;
    margin-top: -4px;
  }
}
.dropdown__selected {
  font-size: $meta_size;
}

.dropdown {
  @extend %dropdown;
  &.-hover {
    %btn:hover {
      &> .list-group {
        display: block;
        max-height: 500px;
        overflow-y: auto;
      }
    }
  }
  &.-js {
    %btn.active {
      &> .list-group {
        display: block;
      }
    }
  }
}

.item-list{
  &.activated{
    position: relative;
    z-index:2;
  }
  &.facetapi-facetapi-links{
    list-style: none;
    @include square(32%, 51px);
    float: left;
    position: relative;
    padding: 0;
    margin: 0px 2% 0px 0px;
    z-index: 1;
    &:after {
        content: ' ';
        border: 8px solid transparent;
        border-top: 8px solid $white;
        @include position(absolute, 34px, null, null,25px);
        @include square(0);
        @include transition(all $global_transition_time);
    }
    li.leaf{
      overflow-y: hidden;
      max-height: 0;
      margin: 0;
      @include transition(all $global_transition_time);
      a.form-select{
        text-align: left;
        width: calc(100% - 22px);
        background: $white;
        color: $brand;
        font-size: 15px;
        font-weight: 100;
        padding: 10px;
        border-top: none;
      }
    }
    &.activated{
      &:before{
        background-position: 0,0;
        color: $brand;
      }
      &:after {
        border-top: 8px solid $brand;
        @include transform(rotateX(180deg));
        transform-origin: top;
        top: 43px;
      }
      li.leaf{
        max-height: 50px;
        &.activated a{
          background-color: $brand;
          color: $white;
        }
      }
    }
  }
  &:last-of-type{
    ul.facetapi-facetapi-links{
      margin: 0;
    }
  }
}

@media (max-width: $max_width){
  .item-list{
    ul.facetapi-facetapi-links{
      width: 100%;
      margin-bottom: 40px;
    }
  }
}