/*
 * 03_collections/formgroups
 * Formgroups Module.
 */
.form__group {
  margin: 0 0 20px;
}

.form__text {
  padding: 3px 0px;
  margin: 0px;
  font-size: 1.4em;
}

.radio, .checkbox {
  margin: 0 0 20px;
  label {
    font-weight: normal;
  }
}
.checkbox {
  label {
    margin: 0;
  }
}

// Form modifiers.
.form--inline {
  .form__group {
    display: inline-block;
    padding-right: 10px;
  }
  .form__checkbox {
    display: inline-block;
    padding-right: 10px;
  }
  button {
    display: inline-block;
  }
}

// Drupal Search Form. (possibly the default input[type="text"] no designs yet.)
form[id*='search-block-form']{
  position: relative;
  input[type="text"] {
    width: 215px;
    padding: 0px 45px 3px 18px;
    height: 38px;
    border-width: 2px;
    color: $dark_grey;
    font-size: $meta_size;
    font-family: $sans-serif;
  }
  input[type="submit"] {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -7px;
    @include sprite($search);
    border: none;
    text-indent: -99999px;
    &:hover {
      background-color: transparent;
    }
  }
}

.search-form, #main form#search-block-form{
  legend{
    @extend .label;
    background-color: $white;
    padding-left: 0;
    padding-bottom: 1.5em;
  }
  input.form-text{
    height: 67px;
    padding-left: 35px;
    @extend .label;
  }
  .form-item.form-type-select{
    position: relative;
    &:after{
      content: ' ';
      border-top-color: white;
      @extend .form-select;
      @extend .arrow.-down;
      @extend .arrow;
    }
    &:hover{
      position: relative;
      &:after{
        border-top-color: $brand;
      }
    }
  }
  .form-item.form-type-textfield.form-item-search-block-form, .form-item.form-type-textfield.form-item-keys{
    @include square(528px, auto);
    margin-right: 25px;
    margin-bottom: 60px;
    display: inline-block;
    float: left;
    max-width: calc(100% - 25px);
  }
  .form-submit{
    @extend .btn.-main;
    @extend .btn;
    float: left;
    -webkit-appearance: none;
  }
  .box-wrap{
    margin-top: 60px;
    display: inline-block;
    width: calc(100% - 80px);
  }
  select.btn.-main.form-select{
    border-radius: 0px;
    height: 71px;
    font-size: 2em;
    width: 210px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
ul.pager {
  @include justify(space-between);
  list-style: none;
}

#content .form-item.form-type-textfield.form-item-search-block-form{
  @include square(528px, auto);
  max-width: calc(100% - 25px);
  margin-right: 25px;
  display: inline-block;
  float: left;
  input {
    width: 100%;
    height: 67px;
    padding-left: 35px;
    color: #646a7b;
    padding-bottom: 0.5em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    margin: 0px;
    line-height: 1.44em;
    letter-spacing: 1px;
  }
}

#main form#search-block-form .form-submit{
  width: auto;
  height: auto;
  text-indent: 0;
  position: static;
  -webkit-appearance: none;
}

@media (max-width: $max-width) { // 1180px
  .search-form{
    .form-item.form-type-textfield.form-item-keys{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}