/*
 * 03_collections/heroes
 * Heroes module
 */
%hero {
  position: relative;
  overflow: hidden;
/*   margin-top: -50px; No longer necessary because I turned off the header menu's bottom margin. */
  h1, p, .meta {
    color: $white;
  }
  %btn {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.hero__bg {
  position: absolute;
  top: 0px;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: 1;
}
.hero__content {
  position: relative;
  max-width: $max_width;
  padding: 59px $global_margin * 1% 41px;
  margin: 0 auto;
  z-index: 2;
}
$padding:17%;
.hero {
  @extend %hero;
  background-color: #545a6b;
  &.-feature {
    .hero__content {
      margin: 0px auto;
      padding: 99px $padding 241px 0%;
      width: 76%;
      max-width: calc(#{$max_width} - #{$padding});
    }
    p {
      font-size: 2.4em;
      line-height: 1.5em;
    }
    .hero__gradient{
      width: 100%;
      max-width: none;
    }
  }
  &.-simple {
    .hero__content {
      padding-top: 300px;
    }
  }
  &.-complex {
    background: $brand;
    .hero__content {
      background: $brand;
      margin-right: auto;
      margin-left: 0;
      width: 533px;
      padding-left: calc(50vw - 590px);
      padding-right: 0;
      .inner {
        padding-right: 70px;
      }
    }
    h2.-section {
      font-size: $h00;
      margin-bottom: 37px;
      padding-bottom: 10px;
    }
    p {
      font-style: italic;
    }
  }
}
$hero-gradient: rgba(112,112,112,0.6);
.hero__gradient{
  @extend .hero__content;
  @include square(100%);
  position: absolute;
  max-width: none;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#707070+0,7db9e8+100&0.2+0,0+100 */
  background: -moz-linear-gradient(left, #{$hero-gradient} 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #{$hero-gradient} 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #{$hero-gradient} 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33707070', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
@media (max-width: $max-width) { // 1180px
  .hero.-feature .hero__content{
    padding: 20px 0% 100px 0%;
  }
  h1.-hero {
    font-size: calc(5vw + 20px);
    line-height: 1.2;
    margin: 0px 0 15px 0;
    bottom: 10%;
  }
  .hero.-simple .hero__gradient {
      height: 35vw;
      padding: 0 2%;
  }
  .hero.-simple .hero__content{
    padding: 0 20px;
  }
  .hero, .hero.-feature{
    background-color: $white;
    p, h1 {
      color: $brand_alt;
    }
    p{
      font-size: 2em;
    }
    .hero__bg{
      min-height: 0;
      position: relative;
    }
    .hero__gradient{
      display: none;
    }
    .hero__content, .hero__content{
      width: calc(100% - 30px);
    }
    .btn{
      width: calc(100% - 120px);
    }
  }
  .hero.-complex .hero__content{
    width: calc(100% - 40px);
    margin: 0 auto;
    .inner{
      padding-right: 0;
    }
  }
}
