/*
 * 03_collections/listgroups
 * Listgroups module.
 */

ul.list-group {
  @include resetList();
}
.list-group {
  margin: 0 0 20px;
  background: $white;
  border: 1px solid $grey;
  border-top: none;
  li {
    margin:0;
    padding:10px;
    border-top: 1px solid $grey;
    color: $text_colour;
    font-size: $meta_size;
    font-weight: $regularFont;
    line-height: $compact_line_height;
  }
  a {
    display: block;
  }
  &.-main {
    border-color: $brand;
    li {
      border-color: $brand;
      color: $brand;
    }
  }
}

ol:not(.feed){
  counter-reset: item;
  padding-left: 0;
  margin-bottom: 36px;
  li{
    position: relative;
    display: block;
    font-weight: 900;
    color: $brand_alt;
    text-transform: uppercase;
    padding-left: 3em;
    &:before{
      @include position(absolute, null, 0);
      height: 100%;
      margin-right: 1.5em;
      content: "0" counter(item) " ";
      counter-increment: item;
      color: $brand;
      background: -moz-linear-gradient(top, $brand 0%, $brand 100%);
      background: -webkit-linear-gradient(top, $brand 0%,$brand 100%);
      background: linear-gradient(to bottom, $brand 0%,$brand 100%);
      background-size: 6px calc(75% - 2em);
      background-repeat: no-repeat;
      background-position-x: 11px;
      background-position-y: 1.7em;
    }
  }
}

ol.feed{
  list-style: decimal-leading-zero;
  li{
    font-size: 1em;
    padding-left: 1em;
    position: relative;
    h4, .label, p{
      font-size: 1em;
    }
    h4{
      margin-bottom: 5px;
    }
    p{
      font-family: $serif;
      font-weight: 100;
    }
    &:before{
      content: ' ';
      @include position(absolute, 37px, -15px);
      @include square(5px, 3em);
      background-color: $brand;
    }
    &:after{
      content: ' ';
      @include position(absolute, 18px, -9px);
      @include square(5px);
      background-color: white;
    }
  }
}