/*
 * 03_collections/summaries
 * Summaries module
 */

.nav {
  @include resetList(0px, 0px);
  &.-social {
    li {
      margin: 0px 23px 0px 0px;
    }
    a {
      padding: 0px;
    }
  }
  &.-tertiary{
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    width: calc(100% + 40px);
    color: $white;
    padding-top: 35px;
    .nav__item:hover &{
      display: inline-block;
    }
    &:before {
      content: "";
      @include position(absolute, 35px, 50%);
      @include transform(translateY(-100%));
      margin-left: -12px;
      @include square(0);
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid fade-out($nav_bg, .03);
    }
    li{
      padding: 10px 20px;
      min-width: 100%;
      max-width: 100%;
      background: fade-out($nav_bg, .03);
      @include position(relative, 0, -20px);
    }
    a{
      line-height:1;
      color: $white;
      padding:0;
      width: calc(100%);
    }
  }
  &.-dividers {
    li {
      margin: 0px;
      &.l {
        a {
          border: none;
        }
      }
    }
    a {
      padding: 0px 18px;
      color: $dark_grey;
      border-right: 1px solid $dark_grey;
      line-height: 1em;
      text-transform: none;
    }
    .nav__item {
      a {
        &:hover {
          color: $brand_alt;
          font-weight: $regularFont;
        }
      }
    }
  }
  &.-alt {
    .nav__item {
      margin: 17px 5% 19px;
      &.f {
        margin-left: 0px;
      }
      &.l {
        margin-right: 0px;
      }
      &.-active {
        a {
          color: $brand;
          &:after {
            display: block;
          }
        }
      }
    }
    a {
      padding: 11px 0px;
      &:after {
        left: 0px;
        width: 100%;
        height: 2px;
        margin: 0px;
        border: none;
        background: $brand;
      }
    }
  }
  &> .nav__item {
    a {
      display: inline-block;
      text-align: center;
      &:hover {
        color: $brand;
        font-weight: bold;
      }
      &:before {
        display: block;
        content: attr(title);
        font-weight: $boldFont;
        height: 0px;
        color: transparent;
        visibility: hidden;
        overflow: hidden;
      }
    }
  }
  .mobile{
    display: none;
    @include position(absolute, 50%, null, null, -10px);
    @include transform(translate(100%, -50%));
    @include square(30px);
    border-radius: 100%;
    background: $brand;
    cursor: pointer;
    &:before, &:after{
      content: '';
      @include square(calc(100% - 10px), 5px);
      background: $white;
      @include position(absolute, 50%, 50%);
      @include transform(translate(-50%, -50%));
    }
    &:after{
      @include transition(all 0.5s);
      @include square(5px, calc(100% - 10px));
    }
  }
  .nav__item.-open, .nav__item.open:hover{
    .mobile.-plus:after{
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    .nav.-tertiary{
      display: inline-block !important;
    }
  }
}

.nav__item {
  float: left;
  margin: 0px;
  position: relative;
  a {
    @include transition(color, $global_transition_time);
    position: relative;
    display: block;
    padding: 30px 20px 36px;
    color: $text_colour;
/*     font-size: $meta_size; */
    font-family: $display;
    text-transform: uppercase;
    &:hover {
      color: $brand;
      text-decoration: none;
    }
    &:after {
      @extend .arrow.-up;
      content: "";
      display: none;
      position: absolute;
      bottom: 0px;
      left: 50%;
      margin-left: -12px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid  fade-out($nav_bg, .03);
    }
  }
/*   .secondary-menu-container{
    padding 0 
  } */
  &.-exploring {
    a {
      font-weight: $boldFont;
      color: $brand;
      &:after {
        display: block;
      }
    }
  }
  &.-active {
    a {
      font-weight: $boldFont;
      color: $brand_alt;
    }
    &.-exploring a {
      color: $brand;
    }
  }
  &.-below, &.-aside {
    float: none;
    margin: 0px;
    a {
      color: $white;
      padding: 0px;
      &:hover {
        color: $brand;
      }
    }
  }
  &.-below {
    font-weight: $boldFont;
    text-align: right;
    margin: 0 0 12px;
    a {
      padding: 6px 53px 6px 0px;
      &:hover {
        &:after {
          display: block;
        }
      }
      &:after {
        content: "";
        display: none;
        top: 0px;
        left: 100%;
        margin-left: -1px;
        width: 4px;
        height: 100%;
        border: none;
        background: $brand;
      }
    }
    &.-exploring {
      a {
        color: $brand;
        &:after {
          display: block;
        }
      }
    }
  }
  &.-aside {
    a {
      text-transform: none;
      padding: 12px 0px;
      &:after {
        display: none;
      }
    }
  }
}

.nav__below {
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 39px 0px;
  margin-top: -2px;
  background: fade-out($nav_bg, .03);
  z-index: 100;
  ul {
    @include resetList(0px, 0px);
  }
  .nav__item {
    &.-active {
      a {
        color: $brand;
      }
    }
  }
}
.nav__secondary {
  ul {
    margin-right: -2px;
    border-right: 2px solid $text_colour;
  }
}
.nav__aside {
  .inner {
    border-left: 2px solid $text_colour;
  }
  ul {
    margin-top: -6px;
  }
}

.pagination, .pager {
  @include resetList(0px, 0px);
  text-align: center;
  margin-bottom: 54px;
  @include justify(space-between);
}
/**
 * Pagination active state notes:
 * - have a transition out left and transition out right class for .active
 * - have a transition in left and transition in right
 * - use translate to move the :before in the correct direction
 * - or use js...
 */

.pager-item, .pager-next, .pager-previous, .pager-current{
  @extend .number;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0px;
  a {
    @include transition(color $global_transition_time);
    display: block;
    color: $text_colour_light;
    padding-bottom: 6px;
    &:hover {
      color: $brand;
      text-decoration: none;
    }
  }
  &.first, &.last{
    a {
        color: $brand;
    }
  }
}
.pager-current{
  a {
      color: $brand;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 2px;
    width: 26px;
    margin-left: -13px;
    background: $brand;
  }
}
.pagination__item {
  @extend .number;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0px;
  &.active, &.f, &.l {
    a {
      color: $brand;
    }
  }
  &.active {
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0px;
      height: 2px;
      width: 26px;
      margin-left: -13px;
      background: $brand;
    }
  }
  &.f {
    padding-left: 0px;
  }
  &.l {
    padding-right: 0px;
  }
  a {
    @include transition(color $global_transition_time);
    display: block;
    color: $text_colour_light;
    padding-bottom: 6px;
    &:hover {
      color: $brand;
      text-decoration: none;
    }
  }
}
.pagerer-pager{
  font-size: 10px;
}

@media (max-width: $max-width) { // 1180px
  .nav{
    .nav__item:hover .nav.-tertiary {
      display: none;
    }
    &.-tertiary li{
      left: 50%;
    }
    .mobile{
      display: inline-block;
    }
  }
}