.info{
	h6 {
	    float: left;
	    margin-right: 10px;
	    height: 30px;
	    position: relative;
	}
}
.label, .intro, .title{
	width: 100%;
}
.feed img{
	width: 100%;
	margin-bottom: 30px;
}

.info .line{
	display: inline;
}

@media (max-width: $max_width){
	.info .line{
		height: 2em;
		display: block;
		.image{
			margin-left: 0;
		}
	}
	.info h6{
		height: auto;
	}
}