.search-result.summary{
	margin-bottom: 36px;
	.summary__inner{
		padding-left: 0;
		h4, p{
			font-size: 1em;
		}
		p{
			text-transform: none;
			font-weight:300;
			line-height:1.6em;
			padding-bottom: 0;
		}
	}
}

.search-form.box-wrap.-filter.-multi .search-advanced {
	.gridian{
		width: calc(100% + 2*#{$spacer});
		@include position(relative, null, -$spacer);
		.item{
			margin-right: $spacer;
			margin-left: $spacer;
			.dropdown__selected{
				@include justify(center);
				flex-direction: column;
			}
			.list-group{
				overflow-x: hidden;
				a.btn{
					padding-right: 0;
					padding-left: 0;
					width: calc(100% - 20px);
					text-align: left;
					padding: 10px;
					display: block;
					border: none;
					border-top: 1px solid #c8c8c8;
					font-size: 14px;
					font-weight: 400;
					line-height: 1.44em;
					border-color: $brand;
					color: $brand;
					background: $white;
					transition: all 0.2s ease;
					&:hover{
						background: $brand;
    					color: $white;
					}
				}
			}
		}
	}
}

.view-filters{
	display: none;
}

@media (max-width: $max-width) { // 1180px
	.box-wrap.-filter.-multi{
		.dropdown{
			
			.btn.-main.form-select{
				width: 100%;
			}
		}
	}
}


