/*
 * 03_collections/summaries
 * Summaries module
 */

%summary {
  position: relative;
  a {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  .number {
    @include position(absolute, 0, 0);
    display: block;
    &:after {
      content: "";
      display: block;
      @include position(absolute, 100%, null, null, 2px);
      @include square(5px, 69px);
      margin-top: 4px;
    }
  }
}

.feed{
  a:hover{
    text-decoration: none;
  }
}

.summary-list {
  @include resetList(0px, 0px);
}

.summary__heading {
  span {
    @extend %underlineAnimation;
  }
  &:hover{
    text-decoration: none;
  }
}
.summary__inner {
  padding-left: 49px;
}
.summary__image {
  float: left;
  margin: 0 0 36px;
  width: 148px;
  .summary.-speakers & {
    @include square(120px, 150px); /** Headshots should have a 4:5 width to height rato **/
  }
}
.summary__text {
  overflow: hidden;
  padding: 0px 0px 0px 33px;
}
.summary {
  width: 100%;
  margin-bottom: 20px;
  clear: both;
  @extend %summary;
  .number {
    &:after {
      background: $brand;
    }
  }
  .meta {
    margin-bottom: 11px;
  }
}

.sessions-summary.box-wrap.-grid{
  margin-bottom: 50px;
  .row-flush{
    position: relative;
  }
  a.span8{
    float:right;
  }
  h3.box__heading{
    font-weight: 100;
  }
}

@media (max-width: $max-width) { // 1180px
  .summary__image{
    width: 100%;
  }
  .summary__text{
    padding-left: 0;
    width: 100%;
  }
}