.views-widget-filter-field_category_tid li{
  list-style-type: none;
}
.view-display-id-page_1 .view-filters{
  display: inline-block !important;
}
.view-display-id-page_1 label{
  display: inline-block;
}
.view-display-id-page_1  label {
  font-weight: 400;
  /*font-size: 14px;*/
  color: #000000;
}
.medi-popbox{
  display: none;
  padding-bottom: 10px;
  margin-left: -20px;
}
.view-id-Taxonomy {
  width: 75%;
  float: left;
}
.sidebar-view-block{
  width: 25%;
  float: right;
}
.view-display-id-page_1 .bef-tree > li:first-child .bef-tree-child label {
  display: inline-block;
  width: calc(100% - 30px);
  float: left;
  padding-top: 2px;
}
.system-head{
  color: black;
  /*font-size: 14px;*/
  padding-bottom: 10px;
}
.system-head a{
  color: #55601c;
  text-decoration: underline;
}
.system-head a:hover{
  color: #55601c;
  text-decoration: none;
}
.view-display-id-page_1 > .view-filters {
  width: 100%;
}

.view-display-id-page_1 .bef-tree > li .bef-tree-child{
  padding-top: 0;
}

.view-display-id-page_1 .bef-tree > li .bef-tree-child > li{
  line-height:26px;
}

.ehr-page .view-display-id-page_1 .bef-tree > li:nth-child(4) .bef-tree-child > li,
.ehr-page .view-display-id-page_1 .bef-tree > li:nth-child(5) .bef-tree-child > li {
  width: 50%;
  float: left;
  margin-bottom: 4px;
}
.shared-page .view-display-id-page_1 .bef-tree > li:nth-child(3) .bef-tree-child > li{
  width: 50%;
  float: left;
  margin-bottom: 4px;
}

.view-display-id-page_1 .bef-tree > li:first-child .bef-tree-child > li {
  width: 50%;
  float: left;
  margin-bottom: 6px;
}
.view-display-id-page_1 .bef-tree > li:first-child .bef-tree-child > li input {
  display: inline-block;
  float: left;
  width: 20px;
}

.view-display-id-page_1 .bef-tree > li > .form-type-bef-checkbox label {
  color: #55601C;
  font-size: 18px;
}
li > .form-item-edit-field-category-tid-849,
li > .form-item-edit-field-category-tid-850,
li > .form-item-edit-field-category-tid-851,
li > .form-item-edit-field-category-tid-852,
li > .form-item-edit-field-category-tid-853{
  display: none;
}
.view-display-id-page_1 .bef-tree{
  padding-left:0;
}
.view-display-id-page_1 .bef-tree > li + li{
  margin-top:10px;
}
.view-display-id-page_1 .bef-tree > li > .form-type-bef-checkbox label{
  /*font:18px Arial, Helvetica, sans-serif;*/
  margin-bottom: 0;
}
.view-display-id-page_1 .bef-tree > li .bef-tree-child label{
    /*font: 13px Arial, Helvetica, sans-serif;  */
    margin-bottom:0;
  }
.view-display-id-page_1 .views-widget-filter-field_category_tid li{
  margin-bottom:0;
  float: left;
  width: 100%;
}

.view-display-id-page_1 .view-header p{
  padding: 0 0 10px;
  /*font-size: 13px;*/
  /*line-height: 16px;*/
  color: #000;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.view-display-id-page_1 .view-header .section-header{
  /*font-family: "freight-sans-pro","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
  color: #404450;
  margin: 0 0 20px;
  font-weight: 700;
  text-rendering: optimizelegibility;
  font-size: 50px;
  /*line-height: 57.7px;*/
  border-bottom: 2px solid #f3f3f3;
}

.view-display-id-page_1 .view-footer .tool-section-footer p {
  padding: 0 0 10px;
  /*font-size: 13px;*/
  /*line-height: 16px;*/
  color: #000;
  /*font-family: Arial, Helvetica, sans-serif;*/
}
.no-result {
    display:none;
}

.no-result + div .no-result + .view-Taxonomy .no-result{
    display:block;
}

#edit-submit-taxonomy{
  background-color: #739600;
  color:#fff;
  /*font-family: Arial,sans-serif;  */
  /*line-height:36px;  */
  /*font-size:15px;  */
  margin:20px 0;
  font-weight: bold;
}
.sub-names{
  color: #4D4F53;
  font-weight: bold;
  /*font-size: 13px;*/
  padding-top: 5px;
}
.view-id-Taxonomy .view-header .tool-header-page a{
  color: #55601c;
  text-decoration: underline;
}
.view-id-Taxonomy .view-header .tool-header-page a:hover{
  text-decoration: none;
}


.clickedVal{
   background-color: #f3f3f3;
    border: 1px solid #cccccc;
    padding: 4px;
    margin: 4px;
    color: #6E9A35;
    font-weight: bold;
    /*font-family: Arial,Helvetica,sans-serif;*/
    /*font-size: 14px;*/
    display: table;
}
.view-id-Taxonomy .view-content {
  display: none;
}
.empty > span{
    margin-left:10px;
    font-weight:bold;
}
.empty.collapsed > .plus{
    display:inline-block;
}
.empty.collapsed > .minus{
 display:none;
}
.empty > .minus{
 display:inline-block;
}
.empty> .plus{
    display:none;
}
.empty,.hiddencls{
    display: none;
}
#edit-reset{
    display: none;
}
.view-display-id-page_1 .view-footer{
  display: none;
}
.view-display-id-page_1 .view-header .tools-header-result-text{
  display: none;
}

.view-id-Taxonomy .product-image{
  width:30%;
  float:left;
}

.view-id-Taxonomy .product-details{
width:70%;
float:left;
  /*font-family:Arial, Helvetica, sans-serif;*/
  /*font-size:13px;*/

}

.view-id-Taxonomy .product-details p{
  font-size:inherit;
   color:#000;
}

.view-id-Taxonomy .product-details a{
  color: #55601C;
text-decoration: underline;
}

.view-id-Taxonomy .product-details p{
  padding-bottom:10px;
}
.view-id-Taxonomy .product-details .product-title{
  font-size: 20px !important;
}
.view-id-Taxonomy> .view-content > div{
  float:left;
  width:100%;
  border-bottom:1px solid #ededed;
  padding-top:10px;
  padding-bottom: 10px;
}

#views-exposed-form-Taxonomy-page-1 .views-exposed-widget{
  display:inline-block;
  float:left;
}

.view-id-Taxonomy #edit-reset{
  text-decoration: underline;
  /*line-height:36px;*/
  margin: 20px 0;
  /*margin-left:10px;*/
  background-color:#739600;
  color:#fff;
}

.view-id-Taxonomy .empty{
  background-color:#739600;
  padding:3px 5px;
  color:#fff;
}
.view-id-Taxonomy .empty > span{
  float:right;
  /*font-size:18px;*/
  font-weight:bold;
  /*line-height:18px;*/
}

.product-title{
  color: #55601C;
  /*font-size: 18px;*/
}
.fda-heading{
  margin-left: -20px;
  /*font-size: 14px;*/
  color: #000;
}
.sub-name-finacial{
  margin-left: -20px;
  color: #4D4F53;
  font-weight: bold;
  /*font-size: 13px;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
}

/*.sub-names:empty{
  display:none;
}*/

/* new changes */
.view-display-id-page_1 input{
  float:left;
  margin-top: 8px;
}

.view-display-id-page_1 label {
    display: inline-block;
    width: calc(100% - 20px);
    float: left;
    padding-left: 5px;
}

.view-display-id-page_1 .views-widget-filter-field_category_tid li{
  margin-top:5px;
}

.mktoModal{
  height:100%;
}

.mktoModal p,
.mktoModal label{
font-size:13px;}

.mktoModal input{
  max-height:21px;
}

.mktoModalContent{
  left:50% !important;
  transform: translateX(-50%);
  top:475px !important;
}

/*.mktoModalMask{
  top:160px !important;

}*/
.mktoButton{
  max-height:28px;
  line-height:13px;
}

.view-id-Taxonomy{
  overflow: hidden;
position: relative;
}

.view-id-Taxonomy{
  position:relative;
  width:100%;
}
.view-id-Taxonomy > div:not(:last-child){
  width:75%;
}
.view-id-Taxonomy > div:last-child{
  position:absolute;
  width:25%;
  top:9px;
  right:0;
}
.view-id-Taxonomy .print-button{
  display: none;
}
.view-id-Taxonomy .print-button a {
  display:inline-block;
  text-decoration: underline;
  line-height: 36px;
  margin: 20px;
  padding:2px 5px;
  background-color: #739600;
  color: #fff;
  margin-bottom: 2px;
}
.view-display-id-page_1 > .view-filters{
  position:relative;
}
.view-id-Taxonomy .views-exposed-widget.views-submit-button .print-button a{
  position:absolute;
  top:25px;
  left:90px;
  bottom: 18px;
}
.leadingage-service-partner p,.leadingage-service-partner a{
  /*font-family:Arial, Helvetica, sans-serif;  */
  /*font-size:13px;   */
  padding-bottom:0;
  /*line-height:16px;*/
}
.leadingage-service-partner p{
  color:#000;
}
.leadingage-service-partner a{
  color: #55601c;
  text-decoration: underline;
}
.leadingage-service-partner > p:nth-child(even){
  margin-bottom:20px;
}
.view-LeadingAge-Service-Partner .view-content{
  width: 75%;
  float: left;
  border-top: 2px solid #f3f3f3;
}
.view-LeadingAge-Service-Partner .view-header h2{
  font-size: 50px;
}
.view-LeadingAge-Service-Partner .sidebar-view-block{
  width: 25%;
  float: right;
  -o-transform: translateY(-75px);
  -ms-transform: translateY(-75px);
  -moz-transform: translateY(-75px);
  -webkit-transform: translateY(-75px);
  transform: translateY(-75px);

}
.node-special-event, .node-special-event-page, .node-magazine-article, .node-newsroom-post,
.node-magazine-article, .node-education-spotlight-post, .node-emergency-preparedness-dashboard,
.node-em-prep-templates-or-guides, .node-general-session, .node-workforce-promising-practices-po,
.node-newsroom-post, .node-center-post, .node-products article, .node-post, .node-blog-post, .node-products .field-name-body
{
  display: none;
}
/*.node-newsroom-post,.node-blog-post{
  display: none;
}*/

/*.node-blog-post{
  display: none;
}*/
/*.view-id-Taxonomy .views-exposed-widget.views-submit-button .print-button a{
    position: absolute;
    top: 21px;
    left: 25px;
    margin: 0;
    width: 95px;
    text-align: center;
    padding: 1px 5px;
}*/

@media print {
  .view-id-Taxonomy>div:not(.view-content):not(.view-footer),
  .view-display-id-page_1 .view-filters,
  header.site__header {
    display: none !important;
  }
  .section, .tabs{
    margin:0;
    padding:0;
  }
  .view-id-Taxonomy > div:not(:last-child) {
   width: 100%;
  }
}
