/*!
 */

#access-pop-amnr4-around {
  position:absolute;
  left:40%;
  top:30%;
  z-index: 333;
  background-color:#fff;
}

#access-pop-mask-amnr4 {
  position:absolute;
  left:0;
  top:0;
  z-index:100;
  background-color:#000;
  display:none;
  opacity: 0.5;
}
