/*
 * 04_sections/footer
 * Styles for footer section
 */

#footer-brand {
  position: absolute;
  left: 2%;
  top: 50%;
  margin: -24px 0px 0px 0px;
  a {
    display: block;
    background-image: url('../img/logo_gray.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    @include square(158px, 48.36px);
    text-indent: -9999px;
  }
}

.site__footer {
  background: $brand_alt;
  .nav.-social {
    position: absolute;
    right: 2%;
    top: 50%;
    margin-top: -7px;
  }
}
.footer__top {
  position: relative;
  padding: 49px 0px 43px;
}
.footer__contact {
  color: $grey;
  text-align: center;
  font-size: $meta_size;
  padding: 0px 0px 0px 60px;
  span {
    display: inline-block;
    padding: 0px 14px;
  }
}
.footer__end {
  padding: 35px 20px 44px;
  border-top: 2px solid $brand_aux;
  color: $grey;
  text-align: center;
  font-size: $meta_size;
}

@media (max-width: $max-width) { // 1180px
  #footer-brand{
    margin-top: 10px;
  }
}