/*
 * 04_sections/header
 * Styles for header section
 */
#brand {
  @include position(absolute, 0, 2%);
  margin: 0px;
  @include square(195px, 58px);
  z-index: 4;
  a {
    display: block;
    @include background('../img/logo.png', no-repeat, contain);
    text-indent: -9999px;
  }
}

.site__header {
/*   margin-bottom: 50px; Turned off because meta content are being pushed down EX: http://dev-leadingage.pantheonsite.io/magazine/june-july-2016/nursing-homes-move-closer-getting-support-broadband*/ 
  position: relative;
  min-height: 90px;
}
.header__top {
  @extend %group;
  padding: 20px 0px 11px;
  .nav.-social, form[id*='search-block-form'], .nav.-dividers {
    float: left;
  }
  #search-block-form {
    margin-right: 15px;
  }
  .nav.-social {
    padding-top: 10px;
  }
  .nav.-dividers {
    padding-top: 10px;
  }
}

.header__main {
  @extend %group;
  position: relative;
  .nav {
    float: right;
    padding-left: 27px;
  }
}

#header{
  h1.search-results{
    margin: 30px 0 0 0;
  }
}