/*
 * 04_sections/main
 * Styles for main section
 */
.section, section{
  padding: 0 15px;
  aside.span3 &{
    border-bottom:none;
    padding: 0;
  }
}

.site__prefooter {
  padding-top: 43px;
  padding-bottom:43px;
  background: $off_white;
}

#page-wrapper{
  position: relative;
}

@media (max-width: $max_width){
  .site__main {
    padding: 42px 0px 81px;
  }
}

