/*
 * 04_sections/nav
 * Styles for nav section
 */

.site__nav {
  position: relative;
  border-top: 2px solid $off_white;
  .nav__below {
    display: none;
  }
  &.-show {
    .nav__below {
      display: block;
    }
  }
}
