@media (max-width: 1180px) {
  .header__main .nav {
    left: -110%;
  }
  
  .info .line {
      display: inline;
  }
  
  .info .line .image {
      margin-left: 12px;
  }
}

p + ul {
  top: -24px;
  position: relative;
}

p + ol {
  top: -24px;
  position: relative;
}

ol:not(.feed) {
  margin-bottom: 0;
}

p.normal:last-child {
  padding: 0;
}

ol:not(.feed) li {
  text-transform: none;
  font-weight: 700;
  color: #121316;
}

ol:not(.feed) li:before {
    position: absolute;
    left: 0;
    height: 100%;
    margin-right: 1.5em;
    content: counter(item) " ";
    font-weight: 700;
}

ul, ol {
  margin: 10px 0 0 0;
}

ol li {
  font-size: 16px;
  font-family: "calluna","Georgia","Times New Roman",Times,serif;
  line-height: 1.8em;
}

ol li > * {
    color: #6E9A35;
    font-weight: 300;
}

ul li {
  color: #121316;
}

p {
  color: #121316;
}

td {
  color: #121316;
}

a {
  color: #6E9A35;
  font-weight: 700;
}

.segment.-buckets .container {
    margin-top: -15px;
}

/*.segment.-buckets {
    margin-top: 5%;
}*/

.fronthero{
    margin-bottom: 5%;
}

.container.-intro {
    padding-top: 40px;
}

.container.-pre-buckets {
    padding-bottom: 0px;
}

.hero h1 {
  width: 78%;
}

header.section {
  margin-bottom: 0;
}

.hero__content__short {
  padding-top: 55px;
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  z-index: 2;
}

.hero__content__short__img {
    padding-top: 150px;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    z-index: 2;
}

.event-menu.section.-marked {
    margin-bottom: 0;
}

.site__main, #main-wrapper {
    margin-top: 12px;
    background-color: #ffffff;
}

.event-menu ul {
    padding-top: 11px;
    padding-bottom: 14px;
}

#brand {
  top: -20px;
}

.nav__item a {
  padding-top: 0;
  font-weight: 400;
}

div#content .field-items a {
  color: #478814;
}

div#content .field-items a:hover {
  color: #266014;
}

div#content.column.span7 {
  margin-right: 0;
}

div#topnavspacing {
    display: none;
}

.segment.-right {
  min-height: 72px;
}

.nav-simple-top {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
  float: left;
}

.nav-simple-top a {
  color: #b3b3b3;
  line-height: 1em;
  margin-bottom: 4px;
  text-transform: none;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.nav-simple-top a:hover {
  color: #404455;
}

.nav-simple-top li.rbar a {
  padding: 0px 18px;
  border-right: 1px solid #b3b3b3;
}


.nav-simple-top li ul {
  margin: 0;
}

.nav-simple-top ul li {
  padding: 0;
  line-height: 1em;
}

.nav-simple-top li {
  float: left;
}

.nav-simple-top li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 400;
}

.nav-simple-top ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

.nav-simple-top ul li {
  float: none;
}

.nav-simple-top ul li {
  float: none;
}

.nav-simple-top li:hover > ul {
  display: block;
}

.nav-simple-top li li a {
  min-width: 250px;
}

.clear {
  clear: both;
}

.contact-us-tile {
    float: left;
    width: 45%;
    border: 1px solid #A0A0A0;
    background-color: #EFEFEF;
    margin: 10px;
    padding: 10px;
}

.contact-us-tile ul li {
    line-height: 1.6em;
    margin: 0;
}

.contact-us-tile-social-icon {
    float: left;
    width: 5%;
    margin: 0;
    padding: 0;
}

.contact-us-tile-social-text {
    float: left;
    width: 92%;
    margin: 0 0 0 10px;
    padding: 0;
}

@media only screen and (min-width: 641px) and (max-width: 897px) {
    .contact-us-tile {
        float: none; width: 100%;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    .contact-us-tile-social-icon {
        float: left;
        width: 5%;
        margin: 0;
        padding: 0;
    }

    .contact-us-tile-social-text {
        float: left;
        width: 87%;
        margin: 0 0 0 10px;
        padding: 0;
    }
}


@media only screen and (min-width: 1px) and (max-width: 640px) {
    .contact-us-tile {
        float: none; width: 100%;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
    
    .img-container {
        margin-bottom: 34px;
    }

    .site__header {
        min-height: 170px;
    }
    
    .segment.-buckets .container {
      margin-top: 0;
    }
    
    .segment.-right {
      float: none;
      min-height: 170px;
    }

    .nav-simple-top {
        position: relative;
        float: none;
        margin-top: 25px;
        left: 10%;
    }

    .nav-simple-top li {
        float: none;
    }
    
    .nav-simple-top #cnav {
        display: none;
    }
    
    .nav-simple-top ul {
        display: list-item;
        overflow: initial;
    }
    
    .nav-simple-top ul li {
        float: left;
        min-width: 200px;
    }
    
    .hero__content__short__img {
      padding-top: 0;
    }

    .nav__item {
      float: none;
      min-width: 120px;
    }

    .event-menu ul li {
      left: 35%;
      margin-right: 5px;
    }

    .nav .mobile {
        right: 0;
        left: 90%;
        width: 22px;
        height: 22px;
        top: 24px;
    }
    
    .nav.-tertiary {
        position: relative;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1180px) {
    .nav-simple-top {
        position: relative;
        float: none;
    }
    
    .nav-simple-top #cnav {
        display: none;
    }

    .nav-simple-top ul {
        display: list-item;
        overflow: initial;
    }
    
    .nav-simple-top li {
        float: none;
    }
    
    .nav-simple-top li.rbar a {
      padding: 0;
      border-right: 0;
      margin-left: 20px;
    }
    
    .nav-simple-top li a {
      min-width: 315px;
    }

    .segment.-right {
        float: none;
        margin: 30px 0 0 30px;
    }
    
    .header__top {
        position: relative;
    }

    h1#brand {
        top: 0;
        margin: -124px 0 0 -19px;
    }
    
    .header__top .nav.-social {
        margin-top: 4px;
    }
    
    #hamburger {
        top: 25px;
    }
    
    .event-menu ul li {
        left: 25%;
        float: none;
    }

    .nav.-tertiary {
        position: relative;
    }
    
    .hero {
        margin-top: 55px;
    }
    
    .segment.-buckets {
      margin-top: 10%;
    }
    
    .hero__content__short__img {
        padding-top: 80px;
        position: relative;
        max-width: 1180px;
        margin: 0 auto;
        z-index: 2;
    }
}

@media only screen and (min-width: 1181px) and (max-width: 1489px) {
    .nav-simple-top {
        float: left;
        position: relative;
        width: 500px;
    }
    
    .nav-simple-top li {
        float: left;
    }
    
    .nav-simple-top #cnav {
        display: none;
    }
    
    .nav-simple-top ul {
        display: list-item;
        overflow: initial;
    }
    
    .nav-simple-top ul li {
        float: left;
        min-width: 200px;
    }
    
    .header__top #search-block-form {
      z-index: 50;
    }
    
    .hero__content__short__img {
        padding-top: 80px;
        position: relative;
        max-width: 1180px;
        margin: 0 auto;
        z-index: 2;
    }
}

figcaption {
  font-style: normal;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 1em;
}

blockquote {
  position: inherit;
}

blockquote ul li a {
  border-top: 0;
  display: inline;
  text-align: left;
}

blockquote a {
  border-top: 0;
  display: inline;
  text-align: left;
  text-transform: none;
  font-weight: 400;
  font-family: inherit;
}

div.printhead {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 20px;
}

div.printhead a.printme {
  padding-left: 28px;
  padding-bottom: 4px;
  line-height: 20p;
  background: transparent url(/sites/default/files/printer20x20.png) no-repeat top left;
}

@media print {
  div.printhead {
    display: none;
  }
  div.social.section {
    display: none;
  }
  .site__sidebar {
    display: none;
  }
  div#disqus_thread {
    display: none;
  }
  .site__header {
    display: none;
  }
}

h4 {
    margin-bottom: 4px;
}

table#customedulayout {
  border: 1px solid #8A8A8A;
}

table#customedulayout a {
  color: #42601E;
}

table#customedulayout th.stronghead {
  background-color: #56406E;
  /*color: #AFAFAF;*/
  color: #FFFFFF;
}

table#customedulayout th.lighthead {
  background-color: #4D858D;
  color: #FFFFFF;
}

table#customedulayout th.lighterhead {
  background-color: #B0DAF2;
}

table#customedulayout th.strongheadpeak {
  background-color: #007692;
  color: #AFAFAF;
}

table#customedulayout th.lightheadpeak {
  background-color: #A8D6CB;
}

table#customedulayout th.lighterheadpeak {
  background-color: #009B71;
}

section#featured-content {
  position: inherit;
}

@media only screen and (min-width: 976px) {
  #page-wrapper {
      min-height: 1000px;
  }
}

.hero.-feature .hero__content, .hero.-feature .hero__gradient {
  /* For 3 block homepage-- padding: 8% 17% 14% 0%; */
  padding: 4% 17% 6% 0%;
}

.bio .span-6.item.image.-headshot {
    background-repeat: no-repeat; background-size: contain;
}

div.inline-pop {
	display: inline;
}

div.inline-pop a span {
	display: none;
}

div.inline-pop a:hover	{
	background-color: #e9e9e2;
	text-indent: 0;
}

div.inline-pop a:hover span {
	display: block;
	position: absolute;
	width: 45%;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
}

.info h6 {
    float: none;
    margin-right: 10px;
    height: inherit;
    position: relative;
}

.image.-date, .image.-location, .image.-time {
    transform: none;
    -webkit-transform: none;
}

/* https://supfort.com/pure-css-accordion-without-javascript */
div.masteracc label {
    display: block;    
	padding: 8px 22px;
    margin: 0 0 1px 0;
	cursor: pointer;
	background: #6AAB95;
	border-radius: 3px;
	color: #FFF;
	transition: ease .5s;
}


div.masteracc label:hover {
	background: #4E8774;
}

div.masteracc .acctext {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
	margin: 0 0 1px 0;
	border-radius: 3px;
}

div.masteracc input + .acctext {
	display: none;
}

div.masteracc input:checked + .acctext {
	display: block;
}

div.masteracc input {
	display: none;
}

.display-none-hiding { display: none; visibility: hidden; }
.top-block-highlight { margin-left: 250px; background-color: #8B2232; color: #ffffff; display: inline-block; padding: 0 12px 0 12px; }
