/*
 * 05_layouts/etc
 * This should be empty when going to production
 * this is a temporary bucket at the highest level
 * of the scss tree for temporary styles/sandboxing
 */

/**
 * Typekit FOUT
 */
.wf-loading {
  #nav {
    visibility: hidden;
  }
}

/**
 * Drupal Specific
 */
.element-invisible {
  display: none;
}

#admin-menu-wrapper {
  ul {
    font-size: 100%;
  }
  li {
    font-size: 12px;
  }
  .dropdown > li > ul {

  }
}

#admin-menu {
  .dropdown {
    li {
      line-height: 1.2em;
    }
  }
}

.event-menu{
  ul{
    @include justify(space-between);
    padding: 30px 0 35px;
    list-style: none;
    > li{
      text-transform: uppercase;
      @extend %underlineAnimation;
      &:hover{
        background-size: 100% 100%;
      }
      > a{
        padding:0;
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}

.page-user {
  background: $white;
}

/**
 * Drupal Tabs
 */
.tabs {
  padding: 10px;
  ul {
    @extend %group;
    @include resetList(0px, 0px);
  }
  li {
    float: left;
    margin: 0 2px 0 0;
  }
  a {
    @include borderRadius();
    background: $brand;
    color: $white;
    display: block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.2em;
    font-family: $display;
    &:hover {
      text-decoration: none;
      background: darken($brand, 10);
    }
  }
}

.media_embed {
  @include magicBox(52.1);
  margin-bottom: 36px;
  iframe {
    @include position(absolute, 0, 0);
    @include square(100%);
  }
}

/**
 * Drupal Login
 */
#user-login {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  .form-item {
    margin: 0 0 20px;
  }
}

/**
 * 404 page
 */

.four0four.-background{
  padding: 0px 0 50px;
  margin: 50px 0 -3px;
  background-image: url("../img/granny.png");
  background-position: 50% bottom;
  background-size: contain;
  background-repeat: no-repeat;
  large{
    font-size: calc(11px + 1.5vw);
    line-height: 1;
    padding: 0 2vw 0;
    color: $brand_alt;
  }
  h1{
    text-align: center;
    z-index: -1;
    position: relative;
    line-height: 0.8em;
    padding-bottom: 0.4em;
    padding-top: 0;
    margin-bottom: -0.1em;
    font-size: calc(60px + 30vw);
    letter-spacing: 0.03em;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(-55deg, #ffffff 0%, #ffffff 25%, #c2c3c7 25.2%, #c2c3c7 80%, #ffffff 80.2%, #ffffff 100%);
    background: -webkit-linear-gradient(-5deg, #ffffff 0%, #ffffff 25%, #c2c3c7 25.2%, #c2c3c7 80%, #ffffff 80.2%, #ffffff 100%);
    background: linear-gradient(175deg, #ffffff 0%, #ffffff 25%, #c2c3c7 25.2%, #c2c3c7 80%, #ffffff 80.2%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
  }
}

@media (max-width: $max-width) { // 1180px
  .event-menu{
    ul{
      @include center(horizontal);
      display: inline-block;
      padding: 15px;
      li{
        @include center(horizontal);
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}