/*
 * 05_layouts/site
 * Site layout styles
 */

.site__main, #main-wrapper{
  margin-top: 30px;
}

.container {
  padding-left: $global_margin * 1%;
  padding-right: $global_margin * 1%;
  max-width: 1180px;
  margin: 0 auto;
  &.-intro {
    padding-top: 80px;
    padding-bottom: 14px;
  }
  &.-pre-buckets {
    padding-bottom: 75px;
  }
}

.segment {
  @extend %group;
  &.-right {
    float: right;
  }
  &.-buckets {
    background: $off_white;
    .container {
      margin-top: -75px;
    }
  }
}

.container-inline{
  display: inline-block;
  width: 100%;
}

.section {
  margin-bottom: 54px;
  &.-short {
    margin-bottom: 35px;
  }
  &.-flat {
    margin-bottom: 0px;
  }
  &.-marked{
    border-bottom: 2px solid $off_white;
    &.grid{
      border-bottom: none;
      box-shadow: 0px 24px 0px -22px $off_white;
    }
  }
  &.-wide{
    padding: 0;
  }
}

// [class*="row-fluid"] > [class*="span"],
// .row-static > [class*="span"] {
//   .inner {
//     padding:20px;
//   }
// }

/*
 * Row generator
 */
@mixin rows($gutter: 3.183, $columns: 12) {
  @extend %group;
  width:100%;
  //margin: 0px 0px 10px;

  &> [class*="span"] {
    float:left;
    margin-right: $gutter * 1%;
    &.l {
      margin-right:0;
    }
    &:last-child {
      margin-right:0;
    }
  }

  @for $i from 1 through $columns {
    $col_width: (99.9998 / $columns);

    & > .span#{$i} {
      $col_remainder: ($gutter/$columns) * $i;
      width: ($col_width * $i - $gutter + $col_remainder) * 1%;
      min-height: 1px;
    }
  }
}

/*
 * Basic row
 */
.row {
  @include rows($global_gutter, $global_columns);
  width: (100 - $global_margin * 2) * 1%;
  padding: 0 $global_margin * 1%;
}

.row--fwb {
  @include rows($fwb_gutter, $fwb_columns);
  width: (100 - $global_margin * 2) * 1%;
  padding: 0 $global_margin * 1%;
}

.row--main {
  @include rows($global_gutter, 10);
  width: (100 - $global_margin * 2) * 1%;
  padding: 0 $global_margin * 1%;
}

.row--nav {
  @include rows($global_gutter, $global_columns);
  width: (100 - 6.5 * 2) * 1%;
  padding: 0 6.5 * 1%;
}

.row--mcb {
  @include rows($mcb_gutter, $mcb_columns);
  padding-bottom: $mcb_gutter * 1%;
}

/*
 * Row using overflow hidden
 */

.row-alt {
  @include rows($global_gutter, $global_columns);

  &> [class*="span"] {
    &.l {
      margin-right: 0;
      @extend %overflower;
    }
    &:last-child {
      margin-right: 0;
      @extend %overflower;
    }
  }
}

/*
 * fluid row no gutter
 */

.row-flush {
  @include rows(0, $global_columns);
}

/*
 * grid Generator ala Ian
 */
@mixin grid($space: 50px, $columns: 3){
  width: calc(100% + #{$space});
  position: relative;
  left: calc(-1 * #{$space}/2);
  padding: 0;
  & > .item{
    width: calc(100%/#{$columns} - #{$space});
    margin-left: $space/2;
    margin-right: $space/2;
    float: left;
  }
}

/*
 * Basic grid Generator ala Ian
 */
.grid{
  @include grid();
  &.-two-columns{
    @include grid(44px, 2);
    &.feed {
      @include grid(84px, 2);
    }
  }
  &.-four-columns{
    @include grid(20px, 4);
  }
  &.-social{
    @include grid(24px, 3);
  }
}



#hamburger{
  display: none;
  cursor: pointer;
}

section#featured-content {
  position: relative;
  z-index: 1;
  padding:0;
}

@media (max-width: $max_width){
  .section, section{
    padding: 0;
  }
  .row--main, .container{
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  body.-alt, body.-on{
    height: 100vh;
    overflow: hidden;
  }
  #brand{
    top: 14px;
    a{
      @include transform(scale(0.75));
    }
    .-on &, .-alt &{
      a{
        z-index: 2;
        position: relative;
        @include filter(brightness(5) drop-shadow(0 0 0 transparent));
      }
    } 
  }
  #hamburger{
    display: inline-block;
    @include square(30px, 35px);
    @include position(absolute, 40px, null, null, 30px);
    z-index: 4;
    .line, .line:before, .line:after{
      display: inline-block;
      @include square(100%, 2px);
      background-color: $brand;
      @include transition(all $global_transition_time);
    }
    .line{
      .-on &, .-alt &{
        background-color: $white;
        @include transform(rotate(45deg));
        &:before, &:after{
          background-color: $white;
          @include transform(rotate(-90deg));
        }
      }
      &:before, &:after{
        position: absolute;
        content: ' ';
        @include transform(translateY(10px));
      }
      &:before{
        @include transform(translateY(-10px));
      }
    }
    
  }
  .header__top{
    .segment.-right{
      form[id*='search-block-form']{
        @include position(fixed, 0, 100%);
        @include square(100%, 100vh);
        background: rgba(64, 68, 80, 0.95);
        @include transition(left $global_transition_time);
        .-alt &{
          left:0;
        }
      }
    }
  }
  .header__main .nav{
    padding:100px 0 0;
    @include position(absolute, 0, -100%);
    @include square(100%, auto);
    overflow: scroll;
    height: calc(100vh - 100px);
    z-index: 3;
    background-color: rgba(50,53,62,0.95);
    @include transition(left $global_transition_time);
    .-on &{
      left:0;
    }
    .nav__item{
      float: none;
      &.-below{
        a:after{
          content:none;
        }
      }
      a{
        color: $white;
        text-transform: capitalize;
        font-weight: 200;
        padding: 22px 20px 23px 40px;
        width: calc(100% - 60px);
        text-align: left;
        &:after{
          content: ' ';
          margin-left: -12px;
          display: block;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 8px solid $white;
          @include transition(transform $global_transition_time);
          transform-origin: top;
          @include position(absolute, 50%, 75%, auto);
          transform: rotate(90deg);
        }
      }
      &.-exploring a:after{
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
  #secondary-nav{
    border: none;
    background-color: $nav_bg_alt;
    #secondary-nav-list{
    }
    .nav__item{
      text-align: left
    }
    .nav__aside{
      display: none;
    }
  }
  .nav__below{
    position: relative;
    padding: 18px 0;
  }
  .header__top .nav.-social{
    padding: 0;
    cursor: pointer;
    @include sprite($search);
    @include transform(scale(2));
    margin: 12px 15px 0 0;
    float: right;
    li{
      display: none;
    }

  }
  .header__top{
    padding-top: 29px;
    @include position(absolute, null, null, null, 60px);
    position: absolute;
    .nav.-dividers{
      display: none;
    }
    input {
      border: none;
    }
  }
  .header__top form[id*='search-block-form']{
    z-index: 3;
    input{
      &.form-text{
        background: transparent;
        @include position(absolute, 150px, 5%);
        border-bottom: 2px $brand solid;
        width: 90%;
        color: $brand;
      }
      &.form-submit{
        top: 165px;
        right: 7%;
        -webkit-appearance: none;
        @include transform(scale(2));
        @include filter(brightness(5));
      }
    }
  }
  
  .ad.-footer{
    width: 100%;
    margin:0;
    &.f{
      margin-bottom: 20px;
    }
  }
  #footer-brand{
    @include center(horizontal);
    display: inline-block;
  }
  .footer__contact{
    padding:0;
  }
  .site__footer .nav.-social{
    margin-top: 10px;
    @include center(horizontal);
    display: inline-block;
  }
  .footer__contact span span{
    display: block;
    height: 0;
    opacity: 0;
  }
  .grid.-two-columns.feed{
    width: 100%;
    > .item{
        width: 100%;
    }
  }
  .grid > .item {
    margin: 0 20px;
    &:last-child{
      margin-right: 20px;
    }
  }
}

.justify{
  &.-space-between{
    @include justify(space-between);
  }
}

aside{
  &.span10{
    h2{
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .ad-container{
      width: 33%;
      float: left;
    }
  }
}

/*
 * Responsive
 */
@media (max-width: $max_width) { // 959px
//@media (max-width: 43.75em) { // 700px

  /*margin right instead of margin left to do overflow hidden*/
  [class*="row"] > [class*="span"] {
    float: none;
    width: auto;
    margin-right: 0;
  }

  /*Use this to set exact percentages and have the last box be ok*/
  [class*="row"] > [class*="span"]:last-child {
    overflow: visible;
  }

  aside{
    &.span10{
      .ad-container{
        width: 100%;
        float: left;
      }
    }
  }
}