/*
 * 01_elements/forms
 * Forms module
 */

form {

}

label, input, textarea, select, button {
  @extend %borderBox;
  font-family: $global_family;
  font-size: $text_size;
  font-weight: $regularFont;
  line-height: $text_line_height;
}

legend {
  @extend %borderBox;
  font-family: $global_family;
  font-size: $text_size;
  line-height: $text_line_height;
  width: 100%;
  padding: 20px;
  background: $grey;
  margin: 0 0 20px;
}

label {
  font-family: $global_family;
  display: block;
  font-weight: $boldFont;
  margin: 0 0 5px 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 34px;
  padding: 4px;
  margin-left:0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  @include borderRadius(none);
  background-color: $white;
  border: 1px solid $grey;
  //@include boxShadow(inset 0 1px 1px rgba(0, 0, 0, 0.5));
  &:focus {
    border:1px solid $focus_border;
    outline:0;
    outline:thin dotted \9; /* IE6-9 */
    @include boxShadow($form_focus_shadow);
  }
}

select {
  background-color: $white;
  border: 1px solid $grey;
  height: 30px;
  line-height: 30px;
  @include borderRadius(5px);
  &:focus {
    border: 1px solid $focus_border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &[multiple], &[size] {
    height: auto;
  }
}

input[type="text"], input[type="password"], input[type="email"]{

}

input[type="file"] {
  display: block;
  width: 100%;
}

textarea {
  height: auto;
  overflow: auto; // remove scrollbar in IE
}

button,
input[type="submit"] {
  @include borderRadius(0px);
  cursor: pointer;
  border: 1px solid $grey;
  background: none;
  &:hover{
    background: $text_colour;
    color: $white;
  }
  &:focus {
    @include boxShadow($form_focus_shadow);
    border: 1px solid $focus_border;
    outline: 0;
    outline: thin dotted \9; // IE6-9
  }
}

fieldset {
  border: none;
  padding: 0;
  width: 100%;
  margin: 0 0 20px;
}

.flag-wrapper {
  position: relative;
  margin: 0 0 16px;
  display: block;
  &:last-child{
    margin-bottom: 0;
  }
}