/*
 * 01_elements/lists
 * Lists module
 */

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul, ol {
  margin: 0 0 20px; //under consideration
  color: $text_colour;
}
ul {
  font-size: $lists_font_size;
  padding: 0 0 0 22px;
  list-style: disc;
  li {
    line-height: $lists_line_height;
    margin: 0 0 10px;
    /*all nested*/
    ul {
      padding-top: 10px;
      font-size: 100%;//makes all nested ul's be the same size
      li {

      }
    }
    /*expert*/
    &>ul {
      &>li {
        /*madness*/
        &>ul {
          &>li {
            /*inception*/
            &>ul {
              background: lighten($black, 91);
              padding: 20px 50px 10px;
              margin-top: 10px;
              &>li {

              }
            }
          }
        }
      }
    }
  }
}

ol.feed {
  font-size: $lists_font_size;
  padding: 0 0 0 22px;
  list-style: decimal;
  li {
    line-height: $lists_line_height;
    margin: 0 0 10px;
    min-height: 90px;
    /*all nested*/
    ol {
      padding-top: 10px;
      font-size: 100%;//makes all nested ol's be the same size
      li {

      }
    }
    /*expert*/
    &>ol {
      list-style: lower-alpha;
      &>li {
        /*madness*/
        &>ol {
          list-style: upper-roman;
          &>li {
            /*inception*/
            &>ol {
              list-style: katakana;
              background: lighten($black, 91);
              padding: 20px 50px 10px;
              margin-top: 10px;
              &>li {

              }
            }
          }
        }
      }
    }
  }
}

/*mixed*/
ul {
  ol {
    padding-top: 10px;
    font-size: 100%;
  }
}
ol {
  ul {
    padding-top: 10px;
    font-size: 100%;
  }
}