/*
 * 01_elements/reset
 * Resets module
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
:focus {
  outline: none;
  border: none;
}

body {
  @include marpad(0px, 0px);
  background: $body_bg;
  font-size: $base_size;
  font-weight: $regularFont;
  font-family: $global_family;
  color: $text_colour;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x: hidden;
}
hr {
  height: 1px;
  @include marpad(0px 0px 20px 0px, 0px);
  border: 0;
  border-bottom: 1px solid $white;
  border-top: 1px solid lighten($black, 90);
  clear: both;
  overflow: 0;
}
button {
  font-family: $global_family;
}
header,
footer,
.group,
[class*="-group"] {
  @extend %group;
}
