/*
 * 01_elements/tables
 * Tables module
 */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0px 0px 10px;
}
caption, .field-name-field-caption .field-item {
  padding: 0px 0px 10px;
  color: $text_colour_light;
  font-size: $text_size;
  text-align: left;
}
thead {
  &>tr > th {
    border-bottom: 2px solid $text_colour_light;
    vertical-align: bottom;
  }
}
tbody {
  > tr > td, > tr > th {
    border-top: 1px solid $text_colour_light;
    vertical-align: top;
  }
}
tr {

}
th, td {
  padding: 10px 5px;
}
th {
  text-align: left;
  font-size: $text_size;
}
td {
  font-size: $text_size;
}