/*
 * 01_elements/typography
 * Typography module
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display;
  color: $brand_alt;
  margin: 0 0 20px;
  font-weight: $boldFont;
  text-rendering: optimizelegibility;
  line-height: 1.15384615em;
  a {
    color: $link_colour;
    &:hover {
      text-decoration:none;
    }
  }
}
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
  margin-bottom: 11px;
}
h3 {
  font-size: $h3;
  margin-bottom: 7px;
}
h4 {
  font-size: $h4;
  text-transform: uppercase;
  margin-bottom: 18px;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}
p {
  margin: 0;
  padding: 0 0 36px;
  font-size: $text_size;
  line-height: $text_line_height;
  color: $text_colour;
}
ol li{
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $brand;
  > * {
    color: $brand_alt;
    font-weight: 300;
  }
  > b{
    font-weight: 900;
    color: $black;
  }
}
small {
  font-size: 65%;
  line-height: 1;
}
large {
  font-size: 22px;
  line-height: 1;
}
blockquote {
  margin: 0;
  padding: 4em;
  padding-left: 4.5em;
  padding-bottom: calc(4em - 36px);
  position: relative;
  &:before{
    content: ' ';
    background: $off_white;
    @include position(absolute, 0, 0);
    @include square(100vw, 100%);
    z-index: -1;
  }
  h1,h2,h2,h3,h4,h5,h5{
    color: $brand;
  }
  a{
    display: block;
    text-align: right;
    padding-top: 12px;
    border-top: 2px solid $brand;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: $boldFont;
    margin: 0px;
    line-height: $compact_line_height;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
  p{
/*     padding: 0; */
  }
}
q {
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  font-family: $display;
  line-height: 1.1em;
  position: relative;
  color: $brand_alt;
  &:before {
    content: ' ';
    @include square(5px, calc(100% - 0.5em));
    background: $brand;
    display: inline-block;
    @include position(absolute, 0.25em, -1em);
  }
  &:after{
    content: ' ';
    @include square(20px);
    background-image: url(../img/quotation.png);
    background-repeat: no-repeat;
    display: inline-block;
    @include position(absolute, calc(100%), -1em);
  }
}
em, i {
  font-style: italic;
}
a {
  color: $link_colour;
  text-decoration: none;
}
a:hover, a:active {
  outline: 0;
}
a:hover {
  color: $link_hover_colour;
  text-decoration: underline;
}
a:focus {
  outline: none;
  border: none;
}
pre {
  margin: 0px;
  white-space: pre-wrap;
  font-family: $code;
}
code {
  @extend %borderBox;
  font-family: $code;
  padding: 2px 4px;
  color: $link_colour;
}
figcaption, .field-name-field-caption .field-item {
  font-style: italic;
}
.align.-centered{
  text-align: center;
  display: block;
}