/*
 * 00_bits/sprites
 * Sprites module
 *
 * SCSS variables are information about icon's compiled state, stored under its
 * original file name
 *
 * .icon-home {
 *   width: $icon-home-width;
 * }
 *
 * The large array-like variables contain all information about a single icon
 * $icon-home: x y offset_x offset_y width height total_width total_height image_path;
 */

$facebook-offset-x: -53px;
$facebook-offset-y: -152.71px;
$facebook-width: 6.699999999999999px;
$facebook-height: 13.600000000000001px;
$facebook-total-width: 200px;
$facebook-total-height: 172px;
$facebook-image: '../img/sprite.svg';
$facebook-png-image: '../img/sprite.png';
$facebook: 0px 0px -53px -152.71px 6.699999999999999px 13.600000000000001px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$instagram-offset-x: -5px;
$instagram-offset-y: -152.71px;
$instagram-width: 14px;
$instagram-height: 14px;
$instagram-total-width: 200px;
$instagram-total-height: 172px;
$instagram-image: '../img/sprite.svg';
$instagram-png-image: '../img/sprite.png';
$instagram: 0px 0px -5px -152.71px 14px 14px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$linkedin-offset-x: -173px;
$linkedin-offset-y: -97.15px;
$linkedin-width: 14.7px;
$linkedin-height: 14px;
$linkedin-total-width: 200px;
$linkedin-total-height: 172px;
$linkedin-image: '../img/sprite.svg';
$linkedin-png-image: '../img/sprite.png';
$linkedin: 0px 0px -173px -97.15px 14.7px 14px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$logo-offset-x: -5px;
$logo-offset-y: -5px;
$logo-width: 190px;
$logo-height: 58.150000000000006px;
$logo-total-width: 200px;
$logo-total-height: 172px;
$logo-image: '../img/sprite.svg';
$logo-png-image: '../img/sprite.png';
$logo: 0px 0px -5px -5px 190px 58.150000000000006px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$logo-grey-offset-x: -5px;
$logo-grey-offset-y: -73.15px;
$logo-grey-width: 158px;
$logo-grey-height: 48.36px;
$logo-grey-total-width: 200px;
$logo-grey-total-height: 172px;
$logo-grey-image: '../img/sprite.svg';
$logo-grey-png-image: '../img/sprite.png';
$logo-grey: 0px 0px -5px -73.15px 158px 48.36px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$rss-offset-x: -173px;
$rss-offset-y: -73.15px;
$rss-width: 14.8px;
$rss-height: 14px;
$rss-total-width: 200px;
$rss-total-height: 172px;
$rss-image: '../img/sprite.svg';
$rss-png-image: '../img/sprite.png';
$rss: 0px 0px -173px -73.15px 14.8px 14px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$search-offset-x: -29px;
$search-offset-y: -152.71px;
$search-width: 14px;
$search-height: 14px;
$search-total-width: 200px;
$search-total-height: 172px;
$search-image: '../img/sprite.svg';
$search-png-image: '../img/sprite.png';
$search: 0px 0px -29px -152.71px 14px 14px 200px 172px '../img/sprite.svg' '../img/sprite.png';
$twitter-offset-x: -5px;
$twitter-offset-y: -131.51px;
$twitter-width: 14.7px;
$twitter-height: 11.2px;
$twitter-total-width: 200px;
$twitter-total-height: 172px;
$twitter-image: '../img/sprite.svg';
$twitter-png-image: '../img/sprite.png';
$twitter: 0px 0px -5px -131.51px 14.7px 11.2px 200px 172px '../img/sprite.svg' '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image}?v=2);
}

@mixin sprite-png-image($sprite) {
  $sprite-png-image: nth($sprite, 10);
  background-image: url(#{$sprite-png-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  .lt-ie9 & {
    @include sprite-png-image($sprite);
  }
}