/*
 * 00_bits/utils
 * Utils module
 * Contains mixins, functions, and placeholders
 */

// Box shadow samples
$single_shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
$form_focus_shadow: inset 0 5px 5px rgba(0, 0, 0, 0.025), 0 0 2px rgba(123, 179, 55, 0.6);
$inset_shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

/**
 * Mixins.
 * @usage:
 * .selector {
 *   @include mixinName(args);
 * }
 */

@mixin borderRadius ($radius: 3px) {
  -webkit-border-radius:$radius;
     -moz-border-radius:$radius;
          border-radius:$radius;
}

@mixin boxShadow ($shadows...) {
  -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
      box-shadow: $shadows;
}

@mixin transition ($args...) {
  transition: $args;
    -moz-transition: $args;
      -webkit-transition: $args;
        -o-transition: $args;
}

@mixin rotate ($deg) {
  transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
}

@mixin gradient ($top, $bottom){
  background: $bottom;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$top}, endColorstr=#{$bottom});
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// String Replace for font-face mixin.
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    @if $src == null {
      $src: url(quote($path + "." + $extmod)) + " " + format(quote($format));
    } @else {
      $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin resetList ($margin: 0 0 20px, $padding: 0) {
  margin: $margin;
  padding: $padding;
  list-style:none;
/*   font-size:100%; */
}

@mixin square($w,$h) {
  width: $w;
  height: $h;
}

@mixin marpad($m:0px,$p:0px) {
  margin: $m;
  padding: $p;
}

@mixin inlineBlock($h) {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: $h;
}

@mixin magicBox($perc:35) {
  position: relative;
  padding-bottom: $perc * 1%;
  height: 0;
}

@mixin quickSpan ($columns: $global_columns, $gutter: $global_gutter, $i: 6) {
  $col_width: (99.9998 / $columns);
  $col_remainder: ($gutter/$columns) * $i;
  width: ($col_width * $i - $gutter + $col_remainder) * 1%;
  margin-right: $gutter * 1%;
  float: left;
}

@mixin quickOffset ($columns: $global_columns, $gutter: $global_gutter, $i: 1) {
  $col_width: (99.9998 / $columns);
  $col_remainder: ($global_gutter/$global_columns) * $i;
  margin-left: (($col_width * $i - $gutter + $col_remainder) + $gutter) * 1%;
}

@function columnWidth ($i: 1, $columns: $global_columns, $gutter: $global_gutter) {
  $col_width: (99.9998 / $columns);
  $col_remainder: ($global_gutter/$global_columns) * $i;
  @return (($col_width * $i - $gutter + $col_remainder) + $gutter);
}

$path_to_images: "../images/";

@mixin bgImg($name, $l:50%, $t:50%, $repeat:no-repeat) {
  display: block;
  background: url($path_to_images + $name) $l $t $repeat;
}

@mixin bgImgX2($name, $l, $t, $w, $h, $repeat:no-repeat) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    display: block;
    background-image: url($path_to_images + '/x2/' + $name);
    background-position: $l $t;
    background-repeat: $repeat;
    //@include bgImg('/x2/' + $name, $l, $t);
    background-size: $w $h;
  }
}

/*--------------
 Mixins
----------------*/

@mixin position($position, $top: null, $left: null, $bottom: null, $right: null) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}@mixin background-size($arg){
  background-size: $arg;
  -webkit-background-size: $arg;
  -moz-background-size: $arg;
  -o-background-size: $arg;
}@mixin background($src, $repeat:null, $size: null, $positon: null) {
  background-repeat: $repeat;
  background-image: url($src);
  @include background-size($size);
  background-position: $positon;
}@mixin opacity($opacity){
  @if $opacity == 0{
    filter: alpha(opacity=0);
  }
  @if $opacity == 1{
    filter: alpha(opacity=100);
  }
  opacity: $opacity;
  -moz-opacity: $opacity;
  -ms-opacity: $opacity;
  -webkit-opacity: $opacity;
}@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform:rotate($deg);
  -ms-transform:rotate($deg);
}@mixin transition($transition...) {
  $prefixes: ("-webkit-", "-ms-", "-o-",  "");
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}@mixin transform($transform){
  transform:$transform;
  -webkit-transform:$transform;
  -ms-transform:$transform;
}@mixin filter($filter){
  -webkit-filter:$filter;
  filter:$filter;
}@mixin transform-origin($transform){
  transform-origin:$transform;
  -webkit-transform-origin:$transform;
  -ms-transform-origin:$transform;
}@mixin translate($X: null, $Y:null){
  transform:translate($X, $Y);
  -webkit-transform:translate($X, $Y);
  -ms-transform:translate($X, $Y);
}@mixin justify($position, $direction: row){
  -webkit-box-pack:$position;
  -webkit-justify-content:$position;
  -ms-flex-pack:$position;
  justify-content:$position;
  @if $direction == "row"{
    -webkit-box-orient: horizontal;
  }
  @if $direction == "column"{
    -webkit-box-orient: vertical;
  }
  -webkit-flex-direction: $direction;
   -webkit-box-direction: normal;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}@mixin box-shadow($args...){
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}@mixin box-sizing($args:border-box){
  box-sizing:$args;
  -moz-box-sizing:$args;
  -webkit-box-sizing:$args;
}@mixin gradient($start, $gradient...){
  @if $start == top {
    $direction: bottom;
  } @else if $start == right {
    $direction: left;
  } @else if $start == bottom {
    $direction: top;
  } @else {
    $direction: right;
  }
  background: -moz-linear-gradient($start, $gradient); /* FF3.6+ */
  background: -webkit-linear-gradient($start, $gradient); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($start, $gradient); /* Opera 11.10+ */
  background: -ms-linear-gradient($start, $gradient); /* IE10+ */
  background: linear-gradient(to $direction, $gradient); /* W3C */
}@mixin user-select($arg:none){
  -webkit-user-select: $arg;  /* Chrome all / Safari all */
  -moz-user-select: $arg; /* Firefox all */
  -ms-user-select: $arg;  /* IE 10+ */
  user-select: $arg;  
}@mixin border-radius($args...){
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}@mixin animation($args){
  -webkit-animation: $args; 
  -moz-animation: $args; 
  -o-animation: $args;
  animation: $args;
}@mixin format-background($arg, $arg2: null, $arg3: contain){
  background-image: url($arg);
  background-size: $arg3;
  background-position: center $arg2;
  background-repeat: no-repeat;
}@mixin square($w,$h:$w) {
  width: $w;
  height: $h;
}@mixin borderRadius ($radius: 3px) {
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}@mixin inlineBlock($h) {
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: $h;
}@mixin center($direction: vertical) {
  @if $direction=='vertical'{
    @include transform(translateY(-50%));
    @include position(relative, 50%);
  }
  @if $direction=='horizontal'{
    @include transform(translateX(-50%));
    @include position(relative, null, 50%);
  }
  @if $direction=='both'{
    @include transform(translate(-50%, -50%));
    @include position(relative, 50%, 50%);
  }
}@mixin prefixProperty($property, $value) {
  $prefixes: ("-webkit-", "-moz-","-ms-", "-o-",  "");
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: $value;
  }
}@mixin prefixValue($property, $value) {
  $prefixes: ("-webkit-", "-moz-","-ms-", "-o-",  "");
  @each $prefix in $prefixes {
    #{$property}: #{$prefix}#{$value};
  }
}

/**
 * Placeholders
 * @usage:
 * .selector {
 *   @extend %placeholder;
 * }
 */

%overflower {
  width: auto;
  float: none;
  overflow: hidden;
}

// Clearfix
%group {
  zoom: 1;
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

%borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

%underlineAnimation {
  @include transition(background-size ($global_transition_time * 2) ease);
  background-image: linear-gradient(180deg, transparent 84%, $brand 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  a:hover & {
    background-size: 100% 100%;
  }
}
