/*
 * 00_bits/vars
 * Vars module
 * Contains the grid, colours, and typography variables.
 */

/* global grid */
$max_width: 1180px;
$global_columns: 12;
$global_gutter: 7.79661;
$global_margin: 2;
$small_width: 570px;

/* full width boxes (eg. buckets) */
$fwb_columns: $global_columns;
$fwb_gutter: 3.728814;

/* full width lists (eg. homepage latest posts/events) */
$fwl_columns: $global_columns;
$fwl_gutter: 7.118644;

/* main container boxes (eg. staff boxes) */
$mcb_columns: $global_columns;
$mcb_gutter: 6.617647;

/* greyscale */
$black: #000;
$grey: #c8c8c8;
$dark_grey: #b3b3b3;
$white: #fff;
$off_white: #f3f3f3;

/* general */
$brand: #7bb337;
$brand_alt: #404450;
$brand_aux: #6d7079;
$body_bg: $white;
$nav_bg: #464a55;
$nav_bg_alt: #5c6271;

/* links */
$link_colour: $brand;
$link_hover_colour: darken($link_colour, 20);

/* focus */
$focus_border: rgba(123, 179, 55, 0.8);

/* text */
$text_colour: #646a7b;
$text_colour_light: $grey;

/* alerts */
$default: $grey;
$info: #66d9ef;
$success: #5cb85c;
$warning: #e6db74;
$error: #d9534f;

/* typography */
$base_size: 15px;
$display: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "calluna", "Georgia", "Times New Roman", Times, serif;
$code: Menlo,Monaco,Consolas,"Courier New",monospace;

/* not everything inherits from the body, use $global_family */
$global_family: $serif;

/* paragraphs and lists */
$meta_size: 14px;
$text_size: 16px;
$text_line_height: 1.8em;
$mid_line_height: 1.6em;
$compact_line_height: 1.44em;
$lists_font_size: $text_size;
$lists_line_height: $text_line_height;

/* headings */
$h0: 72px;
$h00: 38px;
$h1: 50px;
$h2: 26px;
$h3: 22px;
$h4: 18px;
$h5: 16px;
$h6: 21px;

/* weights */
$regularFont: 400;
$boldFont: 700;
$blackFont: 900;

$global_transition_time: .2s;
$duration: $global_transition_time;
/* end */

/* layout Sizes */
$spacer: 25px;


/*
 * Backgrounds
 */
.background{
  &.-brand{
    background-color: $brand;
  }
  &.-brand_alt{
    background-color: $brand_alt;
  }
  &.-brand_aux{
    background-color: $brand_aux;
  }
  &.-body_bg{
    background-color: $body_bg;
  }
  &.-nav_bg{
    background-color: $nav_bg;
  }
  &.-nav_bg_alt{
    background-color: $nav_bg_alt;
  }
  &.-nav_black{
    background-color: $black;
  }
  &.-grey{
    background-color: $grey;
  }
  &.-dark_grey{
    background-color: $dark_grey;
  }
  &.-white{
    background-color: $white;
  }
  &.-off_white{
    background-color: $off_white;
  }
}

/*
 * Colors
 */
.color{
  &.-brand{
    color: $brand;
    a.box.-main:hover .box__inner &{
      color:$white;
    }
  }
  &.-brand_alt{
    color: $brand_alt;
  }
  &.-brand_aux{
    color: $brand_aux;
  }
  &.-body_bg{
    color: $body_bg;
  }
  &.-nav_bg{
    color: $nav_bg;
  }
  &.-nav_bg_alt{
    color: $nav_bg_alt;
  }
  &.-black{
    color: $black;
  }
  &.-grey{
    color: $grey;
  }
  &.-dark_grey{
    color: $dark_grey;
  }
  &.-white{
    color: $white;
  }
  &.-off_white{
    color: $off_white;
  }
  &.-text_colour{
    color: $text_colour;
  }
  &.-text_colour_light{
    color: $text_colour_light;
  }
  &.-transparent{
    color: transparent;
  }
}

.hidden {
  display: none;
}